[2019-11-15 00:34] rdp2fm opened #1 "Restart timer"
Is there a method to restart the timer? I am trying to restart the timer onComplete.

[2019-11-15 06:11] vydimitrov commented on #1
Hey @rdp2fm, I would suggest passing a `key` prop to the `CountdownCircleTimer` component and changing it when the `onComplete` is invoked.

I was actually thinking to add a prop to repeat the counting animation once it is completed. Something like `isRepeated` which will restart the timer when it is completed. I was not sure what would be the use case for it but if there is one I can do it.

[2019-11-15 13:26] rdp2fm commented on #1
I think there is a use case for this

[2019-11-15 15:28] vydimitrov commented on #1
Sure, I will add it over the weekend.

[2019-11-17 09:43] vydimitrov commented on #1
Hey @rdp2fm, I did change a bit the concept, so now you can return an array from `onComplete` with the following signature `[shouldRepeat: boolean, delay: number]`.  Read the docs for more info.

[2019-11-17 09:43] #1 closed

[2019-12-15 03:09] headzoo opened #2 "Set initial elapsed time?"
I stumbled upon this project when a client requested a count time timer that looks like this.

![Screenshot-countdown](https://user-images.githubusercontent.com/707209/70857481-2e243b00-1ebd-11ea-8c3f-3ba79a059e73.png)

The react-countdown-circle-time works great but would be even better if I could show some amount of time already elapsed when the component mounts. Seems this would be a dual reque

[2019-12-15 16:14] vydimitrov commented on #2
Hi @headzoo, I will add a new prop to set the initial elapsed time. It seems something that people may need. I will try to add the prop by the end of next week.

One thing that I am not sure though, if we repeat the timer then we should start from 0 again instead of the "initial elapsed time". Is there a case where one will need to start from the "initial elapsed time" when the timer is repeated?

[2019-12-22 11:03] vydimitrov commented on #2
Hey, I did add a new prop `startAt` that can be used to shift the initial start time. Hope it helps.

[2019-12-22 11:03] #2 closed

[2020-01-28 23:15] alanzchen opened #3 "startAt doesn't work"
https://codesandbox.io/s/cranky-ardinghelli-qfxqu?fontsize=14&hidenavigation=1&theme=dark

[code]

The countdown starts at 60 seconds.

[2020-01-29 06:15] vydimitrov commented on #3
Hey, `startAt` prop was introduced in version `1.0.6`, after upgrading react-countdown-circle-timer to 1.0.6, it works now - https://codesandbox.io/s/trusting-kalam-unj0x

[2020-01-29 06:15] #3 closed

[2020-01-29 08:10] vydimitrov commented on #3
It seems `startAt` does not reflect very well what it does in the context of countdown (it makes more sense in the context of count up). I will rename that prop to more accurately reflect what it does. I will also keep `startAt` for backward compatibility.

[2020-01-30 19:04] borodovisin opened #4 "Not works on React 16.5.2 get a error message"
TypeError
Object(...) is not a function

Can be tested in https://codesandbox.io/s/modern-pine-e8jff, only change the react version to 16.5.2

[2020-01-30 19:18] vydimitrov commented on #4
Hey @borodovisin, the library has peer dependency of React 16.8.0 because it is using React hooks. You can read more about it here - https://reactjs.org/docs/hooks-intro.html. Don't downgrade the React version below 16.8.0 and it is going to work as expected.

[2020-01-30 19:18] #4 closed

[2020-01-30 22:16] borodovisin commented on #4
@vydimitrov Yeah I see that. Thanks

[2020-02-17 02:49] pkm52000 opened #5 "Typescript error: has no exported member 'Config'"
Error:(42, 33) TS2694: Namespace '"../node_modules/use-elapsed-time/types/use-elapsed-time"' has no exported member 'Config'.

Version: 1.1.0

onComplete appear that it needs to be defined as a type.

[2020-02-17 02:53] pkm52000 opened #6 "Cannot setState in onComplete (can causes looping)"
If you setState in the callback provided to the onComplete prop results in "cannot update during an existing state transition" error.

I have experienced brief forever looping when setting state multiple times in this callback.

Version: 1.05 and 1.1.0

[2020-02-17 02:56] pkm52000 opened #7 "onComplete does not trigger if page is not focused"
Potentially a Chrome issue, in my brief testing I didn't experience this in Firefox.

Reproduction steps: When the timer is counting down if change tabs and come back to the tab after you would expect onComplete to be fired, only then is the callback triggered.

[2020-02-19 05:52] vydimitrov commented on #5
Hey, I tried to reproduce it but it seems fine. Check my demo here - https://codesandbox.io/s/gracious-dust-dwptd

Please create a codesandbox if you know how to reproduce it.

[2020-02-19 05:52] #5 closed

[2020-02-22 16:19] vydimitrov commented on #6
Hey, I am not able to reproduce it, please refer to the Codesandbox here- https://codesandbox.io/s/gracious-dust-dwptd

Please share a demo where the issue can be reproduced.

[2020-02-22 16:30] vydimitrov commented on #7
I was able to reproduce it and I guess that it is because of `setTimeout` here https://github.com/vydimitrov/use-elapsed-time/blob/master/src/index.js#L32

I will investigate further and try to fix it.

[2020-02-23 10:35] vydimitrov commented on #7
Chrome will pause `requestAnimationFrame` until the moment the tab gets focused again. Please refer to the demo here - https://codesandbox.io/s/flamboyant-leftpad-zquqn

`react-countdown-circle-timer` is using `requestAnimationFrame` to get the elapsed time by measuring the time between two frames. This is actually the recommended way to measure elapsed time in JavaScript. So what happens here is

[2020-02-23 10:35] #7 closed

[2020-02-23 19:10] pkm52000 commented on #5
Hey @vydimitrov,

I got this error mainly when building. I am using frontend-maven-plugin to build which throws the above error. I also managed to see the error when navigating to the typing definition file in IntelliJ in the Typescript window.

I'll try setup a new project to test again.

[2020-03-17 16:54] AyoubXwire opened #9 "View config not found for name path, make sure to start component names with a capital letter"
I've just installed the library into my project, and Im getting an error.
Im using the **Basic Usage** snippet:

[code]
and I get this error when I lunch it.:

`View config not found for name path, make sure to start component names with a capital letter`

whats the problem here??

[2020-03-18 07:43] tomercy commented on #9
I have the same issue... please update if you were able to solve it

[2020-03-18 09:03] vydimitrov commented on #9
Hey, do you use it in `react-native` project? The component is built for the Web. I will look at making it reusable between the Web and Mobile.

It works just fine on Web - https://codesandbox.io/s/competent-bogdan-ngz23

[2020-03-18 09:41] tomercy commented on #9
Hi @vydimitrov
Yes, I'm trying to use it in react-native :)
This timer is exactly what I need for my project :D

[2020-03-18 11:10] vydimitrov commented on #9
Yup, I will consider making the countdown timer `react-native` friendly. However until then, I would recommend forking this repo, replacing all `div`s with `View`s, install [react-native-svg](https://github.com/react-native-community/react-native-svg) and replace all Web `svg` elements with the one provided by the library. More or less that should be all to make it work :)

[2020-03-18 13:50] AyoubXwire commented on #9
Thanks for the quick reply, yeah I tried it on react native.. my bad, I taught it was for react native.

also.. I like the feature request.. I really need this library, Thanks a lot!

[2020-03-18 13:50] #9 closed

[2020-03-18 14:28] HolimaX opened #10 "Timer text and flip counter does not work in Class-based React Component"
I am trying to use your react module. I m now testing it locally in in online sandbox, but w/o success. See following URL for online sandbox: https://codesandbox.io/embed/divine-dawn-qpnci?fontsize=14&hidenavigation=1&theme=dark

The code from sandbox above produces error:

![image](https://user-images.githubusercontent.com/33150232/76970780-08cc2080-6935-11ea-9e8c-710ada497623.png)

When I try to

[2020-03-18 16:31] vydimitrov commented on #10
There are several problems with your code:

- You are missing the part where you initialize React, something like below:
[code]

- In your Class component you have `renderTime` method defined twice
- You can not use hooks in Class components - please read the docs - https://reactjs.org/docs/hooks-faq.html#should-i-use-hooks-classes-or-a-mix-of-both

My recommendation:
 - Use my basic codesandbox t

[2020-03-18 16:31] #10 closed

[2020-03-18 16:33] vydimitrov commented on #9
Yup, I will let you know once I decide how I am going to do it .

[2020-03-24 06:47] HolimaX commented on #10
Hmm.

Can you please give code example in Class-based component? I am new to react and some example would not hurt.

Thanks :)

[2020-03-24 06:49] HolimaX opened #11 "Add functionality to sync / count, based on system time."
Is it possible to use timer with counting, based on system time, instead of time when site is loaded?

If so, could you share code snipp to achieve this, please?

[2020-03-24 08:45] vydimitrov commented on #10
If you are new to React I'd recommend starting with functional components. If I find some time, I will prep Class-based demo.

[2020-03-24 08:50] vydimitrov commented on #11
The timer is running based on a prop `isPlaying`, when the prop is set to `true` the timer runs. It is not based on the time site is loaded. It is using the JS internal time to measure the elapsed time.

https://github.com/vydimitrov/use-elapsed-time/blob/master/src/index.js#L11

[2020-03-24 08:50] #11 closed

[2020-03-24 09:34] HolimaX commented on #11
Ok. Thanks. Understood. Then - how would I ensure that the time shown is identical / in-sync in any given time? I see that it is not consistent on page reload or rebuild events. Something like 'server-time' lock that would ensure that within, lets say, 24 hours frame the timer is running in predefined cycles...

[2020-03-24 11:56] vydimitrov commented on #11
Lets say that you want the countdown to end on 2020-03-24T15:30:00Z (or 1585063800 in UNIX timestamp). So before rendering the countdown you get the current t time `new Date().getTime()` and subtract the current time from the end time, now you have the remaining time in seconds. You feed that time to the countdown component. On page reload you will do the same so the countdown will be always consi

[2020-03-24 13:22] HolimaX commented on #11
It does, but I have a bit different scenario - I need it to reoccur for infinity with x minute of countdown and y seconds of stop before new minute is started... so I cannot just assign time/date value to var and feed it in :(

[2020-03-24 13:23] HolimaX commented on #10
Thanks, sounds great. Looking forward for an example.

[2020-03-24 20:44] HolimaX commented on #11
Can you please share your code/approach you would implement with your component?

[2020-04-02 08:12] HolimaX commented on #10
Any chance to update README.md with example for Class-based component? I really would love to get the numbers visible in the center of the circle.. :)

Also, the sentence "Feed the renderTime function above to the CountdownCircleTimer renderTime prop and add the styles above to your stylesheet." **is very confusing to newcomers to React stuff.** Can you add more details or just add example how it

[2020-04-02 14:14] vydimitrov commented on #10
Hey there, here you go - your demo with Class component - https://codesandbox.io/s/friendly-noether-w2mkz

You can find all styles in `styles.css`, the Class component is in `App.jsx`. Hope this will help you to start with it. Also please consider using functional components as the rest of the React developers :)

[2020-04-06 18:59] whenmoon opened #13 "Invariant Violation: Calling synchronous methods on native modules is not supported in Chrome"
I have forked your awesome library for use with React Native and have got it working by installing [react-native-svg][1], [use-elapsed-time][2] and prop-types.

However I now am not able to use the debugger:

I have searched high and low for any clues as to which package could be causing the error and I can only see the issue reported relating to [react-native-device-info][3] but this is not causi

[2020-04-07 07:32] vydimitrov commented on #13
Hey Tom, I am not sure what is the problem to be honest. Can I see your RN code on the Countdown timer?

By the way, I started working on this as well. I did some initial tests and it seems it will be possible to converted this library to work on RN.

There is one issue tho with getting `getTotleLength` method on `SVG path` for `IOS`. I did open an issue here - https://github.com/react-native-comm

[2020-04-07 11:38] whenmoon commented on #13
That's great news! What's the best way to to share my code? Shall I post here? Thanks

[2020-04-07 14:31] vydimitrov commented on #13
I don't see your fork. Is it a private repo? You can post your code here or create a demo using Expo Snack - https://snack.expo.io/@calebnance/expo-playground

[2020-04-08 12:31] UCAudio opened #15 "Using four circle timers for Days, Hours, Minutes, Seconds"
Hi, this isn't an issue (feel free to remove or I can delete), but I couldn't find any other contact info. Your circle timer is excellent and the best I've found for smooth/continuous timer display in React.

I've been trying to come up with an implementation where I can use four of the timers to display a countdown from current date to an end date where the timers will displays remaining days, ho

[2020-04-08 21:53] vydimitrov commented on #15
Hey @UCAudio, that sounds like an interesting one. Here is my first take on it - https://codesandbox.io/s/musing-davinci-mqssz?file=/src/App.js

It will require a bit of testing to make sure all works as expected. Let me know if you need anything else from me.

[2020-04-23 13:35] vydimitrov commented on #9
Hey @whenmoon, @tomercy, @AyoubXwire, I just pushed the first version of React Native Countdown Timer to NPM - https://www.npmjs.com/package/react-native-countdown-circle-timer

Please take a look on it and let me know what you think about it.

[2020-04-23 15:54] AyoubXwire commented on #9
Now I can use the library on my react native project.. thanks a lot man 🙏

[2020-04-27 15:44] fmagaldea opened #17 "Changelog not reflecting changes since v2.0.0"
At least since version 2.0 there are 5 new versions, but only few of them are described in `CHANGELOG.md` for web, `README.md` nor Github `https://github.com/vydimitrov/react-countdown-circle-timer/releases`.

Please add in one of these 2 places (or an external website) the diff for each version, thanks !

[2020-04-27 17:16] vydimitrov commented on #17
Hey, sure, my bad, got stuck doing a lot of small changes here and there. I will update the Change log file and let you know. I guarantee you that all changes are small cosmetic things here and there.

[2020-04-28 08:25] vydimitrov commented on #17
Hey @fmagaldea, here you go - https://github.com/vydimitrov/react-countdown-circle-timer/blob/master/packages/web/CHANGELOG.md

[2020-04-28 08:25] #17 closed

[2020-04-28 08:28] vydimitrov commented on #15
I did add a section in the Readme on how to build the days, hours, minutes, seconds countdown - https://github.com/vydimitrov/react-countdown-circle-timer/tree/master/packages/web#days-hours-minutes-seconds-countdown

I will consider adding it as a new component to the library but that is a feature request.

[2020-04-28 08:28] #15 closed

[2020-04-28 09:09] fmagaldea commented on #17
Perfect, thanks!

[2020-04-28 14:53] ionutvs opened #18 "Cannot change wrapper style"
There seems no way to change the wrapper style..this would be a nice feature :) https://github.com/vydimitrov/react-countdown-circle-timer/blob/master/packages/shared/utils/styles.js

[2020-04-28 16:03] vydimitrov commented on #18
Hey @ionutvs, what is the thing you are trying to achieve? I might be able to help you.

[2020-04-28 16:06] ionutvs commented on #18
I tried to align it horizontally, but since it won't accept any styles to the main div, i needed to use 2 divs, like so:
[code]

where CountdownWrapper is
[code]

and CountDownAligner is

[code]

[2020-04-28 16:07] ionutvs commented on #18
It works this way, it was a "nice-to-have" request :D Thanks!

[2020-04-28 18:33] vydimitrov commented on #18
Hey, I am happy you manage to do it.

By reviewing your code, it seems you are trying to center the countdown timer, with `text-align: center;` for the wrapper and `display: inline-block;` for the aligner. In this case I would use a single `div` with `display: flex;`, which it would do the job. Other then that, all styles for positioning an element should go to the wrapper, thus the countdown time

[2020-04-28 18:33] #18 closed

[2020-04-30 11:36] kushal-g opened #19 "Different duration on Repeat"
Is there a way we can have different durations for the timer when it is repeated upon completion?

[2020-04-30 18:41] vydimitrov commented on #19
Hey, there is no API for this, but you can easily do it. Please refer to the codesandbox below:

https://codesandbox.io/s/amazing-montalcini-zy85d?file=/src/index.js

Let know if it works for you.

[2020-04-30 20:17] reggieofarrell opened #20 "Cannot read property 'duration' of undefined"
I'm trying to implement this timer component in a realtime web application with Firebase.  The timer is getting it's props from Firebase and is being controlled via an admin interface where the values are being updated.  It is somewhat randomly crashing when the timer completes though and displaying both of these errors...

[code]
[code]
I can pretty consistently make it crash on completion by cha

[2020-05-01 01:44] kushal-g commented on #19
Yup that worked for me. Thanks!

[2020-05-01 01:44] #19 closed

[2020-05-01 07:16] vydimitrov commented on #20
Hey @reggieofarrell, thanks for reporting this issue. I will need to investigate the duration bug. This is the first time someone asking for changing the duration dynamically. Here are few things that come to my mind before fully investigating it:

- the timer won't be restarted when changing the duration, you will need to take care of that by changing the `key` prop of the `CountdownCircleTimer`

[2020-05-04 17:05] reggieofarrell commented on #20
Thanks for the quick response @vydimitrov.  Looks like updating to the latest version and implementing `key={timerStartedAt + duration}` has fixed the issue where the timer wasn't completing if it was set to a higher duration than initial while it is running.  It's also not consistently crashing (or at all so far) when setting the duration to a lower value than initial while it is running.  Will h

[2020-05-05 07:35] vydimitrov commented on #20
As long as you pass a new value to the `key` prop when the duration changes, the component will start over regardless of the duration value (higher or lower than the previous one). This is how React works, passing a new value to the `key` prop causes the component to be reinitialized, which in this case means that the timer will start over. Just make sure that you pass a new value every time the d

[2020-05-05 12:18] #20 closed

[2020-05-05 12:35] vydimitrov commented on #20
Let me know if you need anything else from me. I did close the issue with my comment above.

[2020-05-11 09:28] MarcoFromBerlin opened #22 "React Native compatibility?"
Hi!
It looks cool, I'm trying to use it on RN but doesn't seem to work.
It always gives me `Invariat violation`.
Any advice?

[2020-05-11 10:33] vydimitrov commented on #22
Hey, did you install the react-native package? Can you share some code snippet so I can take a look on it?

[2020-05-11 13:34] vydimitrov commented on #22
It seems fine here - https://snack.expo.io/@vydimitrov/countdown-circle-timer?session_id=snack-session-8tgDhia5f&preview=true&platform=ios&iframeId=4a80oah677&theme=light

[2020-05-11 14:35] MarcoFromBerlin commented on #22
thanks!
Actually I didn't. I uninstall the old one and I installed the native version but I get this

`error: Error: Unable to resolve module `react-native-svg` from `node_modules/react-native-countdown-circle-timer/lib/index.js`: react-native-svg could not be found within the project.
`
I tried a bit of everything to fix it but didn't succeed.
Any idea?
Thannks

[2020-05-11 14:58] vydimitrov commented on #22
Yup, the package has a dependency on react-native-svg, please add it to your app

[2020-05-12 06:55] MarcoFromBerlin commented on #22
Thanks a lot!
Sorry for the silly questions but I'm new here

[2020-05-12 07:16] MarcoFromBerlin commented on #22
Everything works, but I'm tring to give the `duration` through a state (in seconds) but I get :

Invalid Violation: Inputrange must be monotonically non-decreasing 0, NaN,NaN,NaN

Sounds strange cause I set the `isPLaying` with a state and works

[2020-05-12 13:07] vydimitrov commented on #22
Currently, there is no support for `useNativeDriver` but it is on the roadmap.

[2020-05-13 06:59] vydimitrov commented on #22
If you want me to help you, you should share some code with me, otherwise I am just guessing what is the problem.

[2020-05-13 06:59] #22 closed

[2020-05-13 07:10] MarcoFromBerlin commented on #22
Thanks!
I just would like to know if there's a way to silent that warn, but it's not so important

[2020-05-18 17:37] hernanif1 commented on #6
you need to force the key to change using maybe the same variable that you are setting
https://codesandbox.io/s/strange-neumann-35dsn?file=/src/App.tsx

[2020-05-18 18:35] vydimitrov commented on #6
Hey @hernanif1, good catch, thanks for the demo. I was able to reproduce it now. I will investigate and fix it.

[2020-05-18 18:46] vydimitrov commented on #6
Wait wait wait ... this is how React works ... I needed a few minutes to think about it before releasing that. So what happens here is that when you change the `key` of the component the component is unmounted and new instance of it is mounted. The new instance starts the animation right the way because `isPlaying` is true. The previous instance of the component is unmounted thus all functions and

[2020-05-18 18:47] vydimitrov commented on #6
But anyhow, thanks again @hernanif1 for taking the time to create the demo and report it. Better be this way than having an issue hidden.

[2020-05-20 12:25] diegocruzfernandes opened #23 "Rendering on the OnComplete"
Hi Vydimitrov

need help

I would like to use CountdownCircleTime as a time counter, instead of having to implement a setInterval.
So, what I need is that every time a onCompleted, activate a method that updates my page.
So that I can control how many times the page has been updated.

I have a problem when rendering onComplete.
I need to define the variable with useState, as soon as there is a com

[2020-05-20 12:40] diegocruzfernandes commented on #23
I'm sorry, I didn't see that there is already an open issue reporting the same problem:

https://github.com/vydimitrov/react-countdown-circle-timer/issues/6

[2020-05-20 12:40] #23 closed

[2020-05-20 12:41] diegocruzfernandes commented on #23
I'm sorry, I didn't see that there is already an open issue reporting the same problem
https://github.com/vydimitrov/react-countdown-circle-timer/issues/6

[2020-05-20 15:24] vydimitrov commented on #23
Hey @diegocruzfernandes , thanks for reporting the issue. This time around I was able to reproduce it. The issue comes from changing the `isPlaying` within the `onComplete` callback. I will have a fix for it soon.

In your case I would recommend returning `[false]` from the `onComplete` handler to stop the loop when you need to do so. Please refer to the codesandbox below:
https://codesandbox.io/s

[2020-05-20 15:25] vydimitrov commented on #6
It appeared that the issue is triggered when we try to change the `isPlaying` state within the `onCompelte `handler. I will have a fix for it.

[2020-05-21 11:14] vydimitrov commented on #22
Hey @MarcoFromBerlin, just wanted to let you know that the error below is now fixed in v.2.1.1

Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to true or false

[2020-05-28 03:40] dmitryweiner opened #24 "onComplete method is called multiple times"
How to reproduce:
* Create react app
npx create-react-app %app_name%
* Install
npm i -D react-countdown-circle-timer
* Insert timer into main screen
[code]
* Run dev webserver
npm run start
* Open console
![console.log](https://user-images.githubusercontent.com/6175334/83095852-741d3600-a0ce-11ea-947d-413c704dcd3c.png)

Here you can see the code: https://github.com/dmitryweiner/test-countdown-time

[2020-05-28 07:07] vydimitrov commented on #24
The bug is caused by `React.StrictMode`, which bugs it in development - https://github.com/dmitryweiner/test-countdown-timer/blob/master/src/index.js#L8

I will investigate it and let you know the result.

[2020-05-28 07:17] vydimitrov commented on #24
Some more info here - https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects

[2020-05-28 08:40] vydimitrov commented on #24
I will fix it and update you

[2020-05-30 09:06] #6 closed

[2020-05-30 09:06] #24 closed

[2020-06-10 12:47] ropinheiro opened #26 "Is it possible to countdown with different time spans (e.g. negative, or counting up)?"
I understand that I can set the duration to 20 minutes by e. g. filling it with 20 (minutes) x 60 (seconds).  That will make the component to start counting down from 1200 seconds to 0 (or 20 minutes to 0).

But I have here a use case that is: count down 10 minutes, then count up 10 minutes (with different colors being shown). I see this being implemented as a more flexible time span: instead of g

[2020-06-13 06:45] vydimitrov commented on #26
I will keep in mind your request. In case more people request it then I will consider extending the API.

[2020-06-13 06:45] #26 closed

[2020-06-15 15:27] ropinheiro opened #27 "Unable to pass the duration as a parent prop"
I have this working properly:

[code]
And even this:

[code]
But when I try something more better structured like this:

[code]
It works for one cycle, then it fails before the second cycle with the following error:

![image](https://user-images.githubusercontent.com/19519494/84675754-98796f00-af24-11ea-9c59-4887aa11b69a.png)

It seems that `duration` must be some "global constant" for this to wor

[2020-06-15 18:34] vydimitrov commented on #27
Hey, it really doesn't matter how to you pass the duration to the component, as long as it is a number it it going to work. However, I suspect that the `colors` you are feeding the component is not correct.

Can you share a bit more of your code or even better create a Codesandbox reproducing the issue and I will take a look on it?

[2020-06-16 14:16] ropinheiro commented on #27
Sure, here is it:
https://codesandbox.io/s/frosty-https-p0c7y

As you can see, it starts with a countdown timer starting at 4, as defined here:

![image](https://user-images.githubusercontent.com/19519494/84785861-e608e100-afe3-11ea-9b2a-11831211f1a8.png)

When it reaches zero, because `onComplete` is set to `true`, it tries to start a second cycle and raises exception:

![image](https://user-imag

[2020-06-16 17:16] ropinheiro opened #28 "How can I change timer's attributes while it is running?"
I'm trying to control the `CountdownCircleTimer` in some more controlled way, as I need the same Timer to have distinct behaviors depending on the current time. E.g. if near some meeting date, the Timer renders with some rules, if not near, the Timer renders with other rules. And inside the proximity of a meeting, the Timer has different behaviors depending on the proximity in time.

This means th

[2020-06-16 18:15] vydimitrov commented on #27
Your problem is that `props.durationInSeconds` is a string, it should number

[code]

I am not sure why you don't see warnings from `prop-types` but `duration` should be a number. Also `colors` props is not correctly set, you are missing the transition duration next to each color:

[code]

Below is the correct way to set the `colors`, you can adjust  the numbers
`colors={[["#00FF00", 0.5], ["#FF00

[2020-06-16 18:19] vydimitrov commented on #28
You can change all of the above listed props while the timers is running, the only one that you can not change is `duration`. To change the duration you will need to do [this](https://github.com/vydimitrov/react-countdown-circle-timer/tree/master/packages/web#restart-timer-at-any-given-time)

[2020-06-16 18:20] vydimitrov commented on #27
I am closing this one. Let me know if something is not clear.

[2020-06-16 18:20] #27 closed

[2020-06-16 18:54] ropinheiro commented on #28
Yes, it worked! Thank you!

There is a red warning appearing when the first cycle finishes and before the second cycle starts. It doesn't happen after this:

[code]

It points to the first line of the `CountdownCircleTimer`, but everything seems working properly. It passes a parent function to the onComplete attribute. This function then sets two state values, first the one that sets the duration,

[2020-06-17 07:14] ropinheiro commented on #27
OMG, that was it. The '20' instead of {20}. I really don't understand how could I miss that after looking hundreds of times to the code :( Thank you very much!

[2020-06-17 07:16] ropinheiro commented on #27
About the colors, it was just a demo, I have that part a bit more complicated to force some nuances (and it is working), but thank you for the additional correction detail!

[2020-06-17 07:32] vydimitrov commented on #28
Could you please create Codesandbox with the issue and I will take a look on it? It seems some `setState` is fired once the component is unmounted.

[2020-06-17 08:42] ropinheiro commented on #28
Sure, here it is: https://codesandbox.io/s/charming-hawking-4zwyy?file=/src/App.js

Not sure why, but I see different things here, although the problem sees to have a similar origin: the execution of  `onComplete`.

In my laptop I see a **red warning** `"Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel

[2020-06-17 10:44] vydimitrov commented on #28
I see, I will investigate it. One thing you can do tho, if you are going to change the `key` in the `onComplete` callback and restart animation, then you don't need to return an array from `onComplete`. Once the `key` is new, the component will be unmounted and new instance will be initialized and the animation will start over. Thus, you won't see the warning. Also there is no point to return anyt

[2020-06-17 11:33] ropinheiro commented on #28
Good catch! By removing all those superfluous `returns`, I no longer see `red warnings` in my dev environment. Thank you!

I also removed the `returns` in the Code Sandbox and I still see the `uncaught errors`. Maybe it's something I messed up when removing unrelated code, or something specific of the Code Sandbox. I reviewed the code and for all that matters, I'm pretty sure it's the same code. I

[2020-06-17 12:26] vydimitrov commented on #28
I just checked your last CodeSandbox and I don't see any errors in the console there, it works like a charm. It may be some cache issue with CodeSandbox. Can you try to run in incognito mode or some diffeent browser?

[2020-06-17 12:28] vydimitrov commented on #28
I will keep this bug open to investigate why a wraning is triggered when `onComplete` returns an array, indicating that the animation should repeat, and the component is unmounted at the same time.

[2020-06-17 13:49] ropinheiro commented on #28
Yes, I confirm that in incognito mode, the error disappears! It seems it was just cache, then.

[2020-06-17 13:50] ropinheiro commented on #28
Correction: when I opened it, it gave me no errors. But when I pressed this refresh button:

![image](https://user-images.githubusercontent.com/19519494/84906463-deac0b00-b0a9-11ea-97a3-bac1bf1665ee.png)

It happened again:

![image](https://user-images.githubusercontent.com/19519494/84906490-ea97cd00-b0a9-11ea-8c95-00657c2e109c.png)

One for each timer cycle.

[2020-06-17 13:54] ropinheiro commented on #28
I tested it again: closed the browser. Opened in incognito mode. Pasted the URL in the address input. No errors, timer working like a charm. Then clicked the Code Sandbox's refresh button (no changes in the code). Timer working functionally good, but with errors in the console, one for each onComplete execution.

[2020-06-17 14:18] vydimitrov commented on #28
Nope, it is still fine for me. Even after hitting the Code Sandbox's refresh button no errors in the console. I will consider the Code Sandbox issue as outside the component.

Can you check this one - https://codesandbox.io/s/affectionate-sid-w6v2v?file=/src/App.js
Even with the following code there is no error this time:
[code]

[2020-06-17 14:24] vydimitrov commented on #28
There is definitely something wrong with Code Sandbox, I will test it on my own test environment and see if I can reproduce it.

[2020-06-17 14:45] ropinheiro commented on #28
I tested the Code Sandbox link you provided.
Here is what console shows just after I paste the URL in a freshly opened incognito Chrome:

![image](https://user-images.githubusercontent.com/19519494/84912491-65181b00-b0b1-11ea-9c4e-2ac47d8291fd.png)

Now after clicking the refresh button and waiting for some cycles to complete:

![image](https://user-images.githubusercontent.com/19519494/84912622-8

[2020-06-17 14:48] ropinheiro commented on #28
Now using Firefox, same sequence:

![image](https://user-images.githubusercontent.com/19519494/84912933-deb00900-b0b1-11ea-84fd-b6459afba673.png)

Then after refresh:

![image](https://user-images.githubusercontent.com/19519494/84913025-f8515080-b0b1-11ea-8d70-c4b860dbdea0.png)

So it's now browser, and it's not cache (as it was the first time I opened this in Firefox, at least this week - I usual

[2020-06-17 16:14] vydimitrov commented on #28
I see, okay, it seems there is an issue when we attempt to repeat the animation while we are changing the component key / unmounting the component. I will keep this bug open to investigate that issue. Thank you for taking your time to report and reproduce this issue for me :)

[2020-06-17 17:47] ropinheiro commented on #28
Never mind, it's me that thanks you for developing this nice component and also answering all my (some of them silly) questions 👍 Feel free to request additional information from me to help you on this.

[2020-06-21 07:04] #28 closed

[2020-06-21 07:14] vydimitrov commented on #28
Hey @ropinheiro, the issue with the warning is now fixed. Here is the origin commit that fixes it - https://github.com/vydimitrov/use-elapsed-time/commit/3afeae6d01505be9fe9d7d370b20154d5c07606e

If you have time please retest it and let me know the result. Thank you!

[2020-06-22 09:04] ropinheiro commented on #28
I re-tested it, by upgrading all packages and adding the `return [true, 250]; ` again in the `setTimerTo` here:

https://codesandbox.io/s/charming-hawking-4zwyy?file=/src/App.js

I confirm that the warning no longer appears, so it seems to be positively fixed 👍

Only those `uncaught errors`, one per cycle, as mentioned before, continue to appear.

![image](https://user-images.githubusercontent.com

[2020-06-22 14:15] ringalls2020 opened #29 "Restart timer with new duration on complete"
I have an array of integers that I would like the timer to map through and use as the new duration each time it completes a countdown. Currently, I call the onComplete function set the duration variable to the next index of the array, then change the key variable, return shouldRepeat as true. It looks like this:

`export default function Timer(){
const array = [10, 20, 30, 25, 15];
const [key, set

[2020-06-22 15:14] vydimitrov commented on #29
Hey, thanks for reporting this issue. It seems the `setTimeout` in the onComplete handler is not cleared [here](https://github.com/vydimitrov/react-countdown-circle-timer/blob/master/packages/mobile/src/hooks/useCountdown.js#L82). I will try to fix it as soon as possible.

[2020-06-22 15:17] vydimitrov commented on #29
By the way, this should be a warning not an error :)

[2020-06-22 16:08] ringalls2020 commented on #29
Yes, you are correct, it is a warning rather than an error.

[2020-06-24 09:55] #29 closed

[2020-06-24 10:14] vydimitrov commented on #29
Hey @ringalls2020, the warning is now fixed. By the way, if you are changing the `key` of the component you don't need to return `return [true, 0];` in the `onComplete` handlers since the component will be unmounted anyhow so the repeat won't happen. Also you can simplify your code a bit by remove the `setKey` and just use the array index as component's key, like so `key={index}`.

Let me know if

[2020-06-29 04:27] ldipasquale opened #30 "Make `onComplete` async"
hi @vydimitrov! thanks for this amazing library :)

I am wondering if you can make the `onComplete` callback async. I am getting this error if I try to use an async function:

[code]

I thinks it's because `useCountdown.js:59`, so probably will be solved if we modify to:

[code]

thanks again!

[2020-06-29 06:23] vydimitrov commented on #30
Hey @ldipasquale, that sounds interesting :) What is the use case you are having? I am just trying to understand what would be the benefit of it. Can you also fork the repo and test the thing you are suggesting? I guess we will need to make the change in the `useElapsedTime` hook [here](https://github.com/vydimitrov/use-elapsed-time/blob/master/src/hooks/useElapsedTime.js#L52).

[2020-06-30 04:26] ldipasquale commented on #30
hi! I am developing a boardgame and I am trying to trigger a request when the player has no more time (and I am using the library to make it happen), so I want to pass an async `onComplete`. I tried to fork the repo but yes, I also need to fork the `use-ellapsed-time` one, right?

[2020-06-30 15:14] vydimitrov commented on #30
Yup, that is right. I can take a look on this one tomorrow. As a temporary workaround I would suggest that you do your `async` calls in the `onComplete` handler and if you need to repeat the animation that you change a `key` prop of the component as suggested [here](https://github.com/vydimitrov/react-countdown-circle-timer/tree/master/packages/web#restart-timer-at-any-given-time) and the countdow

[2020-06-30 23:46] ldipasquale commented on #30
ok! thanks. let me know when you take a look on `use-ellapsed-time` and I will submit a pull request regarding this repo. thanks again :)

as a workaround I am defining a callback when pass the `duration` seconds, but I will prefer to use the `onComplete` method :)

[2020-07-02 10:56] vydimitrov commented on #30
Hey, I came up with somewhat solution for this but there are a few things to consider:
- I don't want to use `async` `await` in the component because that will require adding some `regenerator-runtime`, which is adding 5KB to the bundle of hook witch is less than 4KB in the case of the `use-elapsed-time`
- I would prefer to not including any polyfills in the component
- We need to make sure that t

[2020-07-02 16:49] ldipasquale commented on #30
hey! don't worry about it. I will use a timeout that will handle, I thought that adding the `async`/`await` will solve it but makes sense to preserve the bundle.

I have another question (I could create another ticket but I will ask you first here): will be possible to add a `until`/`date` prop to the countdown? I am trying to get the difference between a date and now and show the remaining second

[2020-07-02 18:11] vydimitrov commented on #30
Sure thing, lets keep this as a feature request. If it happens that more people request it that I will add it to the library.

I will close this issue for now. Thank you for contributing to this project.

[2020-07-02 18:11] #30 closed

[2020-07-02 18:37] ldipasquale opened #31 "Timer starts when tab is focused"
hi, I wasn't sure if creating a new ticket, so if you prefer we can keep talking on the other one.

I am dealing with an issue: timer starts when the tab is focused because (I suppose) `requestAnimationFrame` stops when the window is out of focus.

do you have a workaround for this case? in my project, timer should start when the `duration` prop is updated independent if browser is focused or not.

[2020-07-02 19:13] ldipasquale commented on #31
I came up with an idea :) I leave here if someone is with the same case: storing a timestamp then the duration changes and subtract it to the timestamp when `requestAnimationFrame` runs (in some browsers is immediately and in others, like Chrome, is when the user focus the tab), and then storing the `displayedDuration` and work with it as the `duration`.

it's not a very clean solution, but it's b

[2020-07-03 06:54] vydimitrov commented on #31
Yup, you are right, when the the tab is not focused the browser will give a very low priority to `requestAnimationFrame` and it may run less offen or may not run at all.

There is a way you can implment it but that should go outside of the component since will require a bit of logic, which may be needed in a few cases. Here is how I see it.

- Add `visibilitychange` event listener so you can track

[2020-07-04 12:23] muserrefakillibaykus opened #32 "How can i give end date?"
How can i give finished date to countdown?

https://codesandbox.io/s/musing-davinci-mqssz?fontsize=14&hidenavigation=1&theme=dark

[2020-07-04 15:19] vydimitrov commented on #32
Just change the value of the `endDate` variable to your end date. Remember to pass the value in seconds for both `startDate` and `endDate`. You can do this
`const endDate = new Date('2012.08.10').getTime() / 1000` to convert date to unix timestamp in seconds.

Read more here - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getTime

[2020-07-04 15:29] vydimitrov commented on #31
Closing this one, let me know if you need any help working with the component :)

[2020-07-04 15:29] #31 closed

[2020-07-04 22:31] muserrefakillibaykus commented on #32
It works! Thank you so much.

[2020-07-05 04:37] vydimitrov commented on #32
Great! Let me know if you need any additional help with the component.

[2020-07-05 04:37] #32 closed

[2020-07-06 09:45] faisalaja opened #33 "Error import"
I've problem for use your lib, this is message error:
./node_modules/react-native-countdown-circle-timer/lib/index.js
Module not found: Can't resolve 'react-native' in /.../...

[2020-07-06 14:16] vydimitrov commented on #33
Have you added `react-native` to your project? Do you use it for Mobile or Web? The Web package is `react-countdown-circle-timer`.

[2020-07-08 06:29] vydimitrov commented on #33
Let me know if you need any additinal help.

[2020-07-08 06:29] #33 closed

[2020-07-13 12:15] HumayounBaig opened #34 "Adding Minutes : Seconds to the timer."
hey there great repo btw,

So i was implementing it but i need a timer for something like remaining time (i.e. Picture attached). Please let me know if this would be possible.
![image](https://user-images.githubusercontent.com/32910163/87303305-690e5000-c52c-11ea-8a04-5e3290e22b84.png)

[2020-07-13 15:30] vydimitrov commented on #34
Hey @HumayounBaig, you are the right place. Of course you can do it .... you will need just to format the remaining time. Here is one possible solution, check the codesandbox- https://codesandbox.io/s/vigorous-easley-rh33d?file=/src/index.js

[2020-07-14 06:59] HumayounBaig commented on #34
hey @vydimitrov thanks it worked great.
i'll suggest adding this example in docs would make it much easier to find.

[2020-07-14 09:50] vydimitrov commented on #34
Sure thing, I will add a few exmaples on how to format remaining time. I am closing this issue, let me know if you need any additional help.

[2020-07-14 09:50] #34 closed

[2020-07-14 13:31] HumayounBaig commented on #34
thanks @vydimitrov,
one last thing i am having issue with updating the remaining time i.e. adding or removing from it. I am updating the state used for 'duration' but the timer doesn't refresh / update reflecting the updated duration state.
Is there any way to update the timer programatically.

![image](https://user-images.githubusercontent.com/32910163/87431342-ece53c80-c5ff-11ea-993a-55148b8dc22

[2020-07-14 15:39] vydimitrov commented on #34
Changing the `duration` and `initialRemainingTime` is not really possible once the component is mounted because it is very error prone. One way to go around is to pass a new `key` prop to the component, which will cause the component to render and start over when you want to change one of the two props. You can read more [here](https://github.com/vydimitrov/react-countdown-circle-timer/tree/master

[2020-07-15 06:10] MyNameIsHung opened #35 "Request for a new feature: the ability to pause"

[2020-07-15 06:26] vydimitrov commented on #35
Hey @MyNameIsHung, this feature already exists. You just need to set `isPlaying` to false. Check the list of [avaiable props](https://github.com/vydimitrov/react-countdown-circle-timer#props-for-both-reactreact-native)

[2020-07-15 13:59] MyNameIsHung commented on #35
Oh rlly thanks

[2020-07-15 13:59] #35 closed

[2020-07-16 17:40] zhg-kj opened #36 "How To Give Min and Max Sizes?"
I'm trying to make a responsive React app using your component. From the documentation it looks like I can only enter numbers for the size but I need the component to scale accordingly to the users view width. Anyway I can do this?

[2020-07-16 19:03] vydimitrov commented on #36
Hey, I would recommend using something like [react-sizeme](https://github.com/ctrlplusb/react-sizeme) to get the view port width and feed that into the timer component.

[2020-07-16 21:53] #36 closed

[2020-07-17 06:11] HumayounBaig commented on #34
@vydimitrov thanks alot adding `key` prop did the trick for me. 👍

[2020-07-18 19:35] Ajmal0197 opened #39 "This coming when when leaving screen and coming back for another timer on same screen"
TypeError: this._listeners[_key] is not a function. (In 'this._listeners[_key]({
            value: value
          })', 'this._listeners[_key]' is undefined)

__callListeners
    AnimatedNode.js:139:6
__callListeners
    AnimatedWithChildren.js:76:4
_updateValue
    AnimatedValue.js:246:4
animation.start$argument_1
    AnimatedValue.js:211:8
onUpdate
    TimingAnimation.js:144:4
onUpdate
    [nat

[2020-07-19 06:38] vydimitrov commented on #39
Hey @Ajmal0197, thanks for reporting this issue. Could you please create a [Expo Snack](https://snack.expo.io/) reproducing the issue and I will try to investigate what is the cause?

[2020-07-19 06:48] Ajmal0197 commented on #39
Sorry but can't make the expo I am implementing on big project with Redux.
Actually i have to run 3 timers in background. I have managed it using 3 different reducer object state but when i delete any object and start the timer again for that object this error comes. Else the timer is working perfectly.

Is their anything else that can be done to run timer in background so that the user can naviga

[2020-07-19 11:54] vydimitrov commented on #39
This sounds something very specific to your project so I am not sure if I can help you without seeing it. You can mock something quickly on ExpoSnack to get to the error.

Other than that, the timer should not stop when you navigate to a different screen because it measures the elapsed time sine it started paying. Do you by any chance unmount the Screen when navigating to a new one?

[2020-07-19 11:54] gulsher7 opened #40 "No differnce appears in stroke"
![Screenshot 2020-07-19 at 5 15 51 PM](https://user-images.githubusercontent.com/56266123/87874062-51c7da80-c9e4-11ea-938f-d666d81b43a1.png)

Hey Developer.... It takes a lot of time to see the differnce in strokeLine when i increase the duration time...Please resolve it as soon as possible..

[2020-07-19 12:10] vydimitrov commented on #40
Hey, of course it takes a lot of time when you increase the duration since the timer will need to almost 6 hours to make the full circle. So I can tell you for sure that if you wait 3 hours then the progress will be at half.

[2020-07-19 12:10] #40 closed

[2020-07-19 12:40] vydimitrov commented on #40
This is simple math, I hope you understand that. Imagine that you have 6 hours to do 100 meters, if I look at you 5 minutes after you started you would be at the same place where you stared since you have big time span to go over 100 meters.

[2020-07-19 12:42] Ajmal0197 commented on #39
Okaye I don't know how to mock error in expo... I will try it possible..👍

Yes since their are multiple screen in my app whenever I use navigation.navigate timers resets else till navigation.push it's working fine.

Will try to figure out work around.
Thanks again for providing such a nice library 👍👍💯

[2020-07-20 07:22] vydimitrov commented on #39
I didn't mean mocking the error but rather mocking your complicated app, like add a few screens and switch between them.

If you are unmounting the screens when navigatting between them then you also unmount the timer and that is why it looses state.  I would love to help you more but I will need to see some code :)

[2020-07-20 18:47] Ajmal0197 commented on #39
[StartHeatingTime.js.zip](https://github.com/vydimitrov/react-countdown-circle-timer/files/4949500/StartHeatingTime.js.zip)

hi :)
sorry for late reply,
here is my code timer is running fine but gives error when reset the timer from reducer and then starting back again

[2020-07-21 07:24] vydimitrov commented on #39
Hey, thanks for prepping the demo. Could you please create a Expo Snack or any other RN playground with your demo and I will take a look on it. I would prefer to have this reproduction demos online so other people can find them and collaborate if needed.

[2020-07-24 07:30] vydimitrov commented on #39
Hey @Ajmal0197, I took a look on the code you sent but there are so many references to local files and redux state and it would be impossible for me to get this single file up and running. If you want me to help you, could you please simplify it so I can run the code just by installing dependencies? This is why I suggested creating Expo Snack.

[2020-07-24 08:34] Ajmal0197 commented on #39
You have created a great timer...
I have already implemented your timer in various module. The issue is in rare scenario which I have managed with little tweek in my code. So no issue now. Thank you.

[2020-07-24 08:54] vydimitrov commented on #39
Great, I am happy to read that. Let me know if you need anything else from me :) Closing the issue.

[2020-07-24 08:54] #39 closed

[2020-07-27 02:45] heisjohn opened #43 "Reset Timer in Middle of Countdown"
Thanks for this library!
I was wondering if it is possible to reset the timer, but not through onComplete? I am trying to implement something where the timer freezes when a modal opens on the screen, and the user may click a button to reset the timer. However, I have not been able to figure out how to make the timer restart without waiting for it to count all the way down to 0. For example, the ti

[2020-07-27 07:24] vydimitrov commented on #43
Hey @heisjohn, yup, this is possible. Please refer to [Restart/Reset timer recipe](https://github.com/vydimitrov/react-countdown-circle-timer/blob/master/README.md#restartreset-timer-at-any-given-time) on the Readme page.

Let me know if you need any additional help.

[2020-07-27 07:45] heisjohn commented on #43
Oh, I see. Sorry I glanced over that. Thanks for your help. Feel free to close this now.

[2020-07-27 08:24] vydimitrov commented on #43
Cool 👍

[2020-07-27 08:24] #43 closed

[2020-08-03 03:55] rodcisal opened #44 "React native: Invariant Violation"
I try to follow the example on the docs but every time I try to render the countdown I get:

[code]

![image](https://user-images.githubusercontent.com/853311/89144459-dc97f180-d51b-11ea-9ee4-c38149bff29a.png)

Doesn't it seems weird is trying to render a div on react native? am I missing something here?
TIA.

component code:
[code]

package.json

[code]

[2020-08-03 04:11] vydimitrov commented on #44
Hey, you are using the React package for React Native project. Please install 'react-native-countdown-circle-timer' and check the docs again :)

[2020-08-03 04:29] rodcisal commented on #44
I can't believe I'm this stupid.

Thank you very much. @vydimitrov

[2020-08-03 04:29] #44 closed

[2020-08-07 19:54] SergiOnGit opened #45 "You should add dynamic duration and initial time change possibility."
I like this plugin very much but it lacks the feature i need the most "dynamic duration and initial time change possibility". Add it and this will be the best react native circle countdown plugin.

[2020-08-07 20:11] vydimitrov commented on #45
Hey @SergiOnGit, both of these are possible with the current API. To change initial time just pass `initialRemainingTime` to the component as describe in the props section. Dynamic duration is possible by passing a new `key` prop to the component as described [in the recipes](https://github.com/vydimitrov/react-countdown-circle-timer#change-duration-andor-initialremainingtime-once-component-is-mou

[2020-08-07 20:25] SergiOnGit commented on #45
Thanks for your response @vydimitrov

I was confused by first sentence of recipes "Change duration and/or initialRemainingTime once component is mounted". It is great then. I'm going to use this repo in my production apps.

[2020-08-07 20:25] #45 closed

[2020-08-08 13:55] SergiOnGit opened #46 "Lack of docs"
I didn't find demo of third animation https://user-images.githubusercontent.com/10707142/65963815-cfbdf380-e45b-11e9-809d-970174e88914.gif

Can you help with this? @vydimitrov  Even a tutorial how to achieve this animation is accepted.

[2020-08-08 18:56] vydimitrov commented on #46
Hey @SergiOnGit, take a look on the Web version of the animation to get inspired and build it yourself for React Native using Animated.

https://github.com/vydimitrov/react-countdown-circle-timer/tree/master/packages/web#slide-down-time-animation

[2020-08-09 13:57] SergiOnGit commented on #46
Thank you, the link is helpful and i think i can handle it now @vydimitrov

[2020-08-09 13:57] #46 closed

[2020-08-09 16:29] vydimitrov commented on #46
I'd appreciate if you can recreate that animation for React Native and add it to the Readme, like I did for the Web project. I will be happy to accept that PR :)

[2020-08-10 10:22] SergiOnGit commented on #46
@vydimitrov I will do it, in case i decide to create this component.

[2020-08-12 18:24] sergiocardoso commented on #28
Hi vydimitrov, thanks for this amazing plugin. Sorry for my english, but please I have a question: how can I do to change the duration after timer start? I don't understand.

Thank you =)

[2020-08-12 18:36] vydimitrov commented on #28
@sergiocardoso, please check [this demo](https://codesandbox.io/s/dreamy-bose-xch4c?file=/src/index.js) and let me know if that is helpful. Check how I am passing a new `key` and `duration` props to the component when I click the button.

[2020-08-20 12:40] timhagn commented on #39
Hi there,

thanks for this nifty module @vydimitrov : )! Might I ask you @Ajmal0197, how you got this solved / which tweak you were applying? Cause I'm running into the same issue in a cooperate App (also ejected). I also already nailed it down on the Animated timers, but here I'm stuck right now (and as we have a Go Live on 1st of September, I won't have much time to look into this till then -.-)

[2020-08-20 13:15] vydimitrov commented on #39
Hey @timhagn, if you create an ExpoSnack reproducing the issue then I can also take a look on it :)

[2020-08-20 14:35] timhagn commented on #39
Hola @vydimitrov,

as written above, I have the same problem as @Ajmal0197, I'm working on an ejected corporate App (closed source) am am sparse on time atm. This [PR](https://github.com/facebook/react-native/pull/28841) over at RN should probably fix the problem altogether, but I don't know, when it will be in. The Problem arises, when one has to unmount CCT, or a parent component gets unmounted

[2020-08-20 14:45] Ajmal0197 commented on #39
Can u use useFocusEffect hook of react navigation and wrap it around the countdown component.
 It will mount unmount component every time.

If the above soln don't work then I can send u custom JS file that i have modified.

[2020-08-20 14:52] timhagn commented on #39
Hi @Ajmal0197,

thanks for the direction towards `useFocusEffect`, will return to this issue on Monday, as I have to direct my attention on other parts of the Project & Publishing the App without the Snackbar (where I'm using CCT) tomorrow. An already changed file would be great, of course : )!

Thanks again,

best,

Tim.

[2020-08-20 15:02] Ajmal0197 commented on #39
https://medium.com/@aungmt/react-native-circular-progress-component-using-svg-60bc831e3802
use this with your own setInterval or some library

[2020-08-24 21:29] cristian-milea opened #47 "onComplete does not reflect props"
Hello,

First of all, thank you for this awesome library.
I have an issue and I don't know if it's a bug or I just implemented it wrong.
So my score prop gets updated, but when `onComplete` gets triggered, it does not reflect the correct value of the prop.

simplified code:
[code]

Any advice?

[2020-08-25 06:43] vydimitrov commented on #47
Hey @cristian-milea, thanks for reporting this issue. I quickly inspected the code and found that there is an effect that listens for a change in the play state, which also sets the `onComplete` handler and starts/stops animation. That effect has [dependency only on `isPlaying`](https://github.com/vydimitrov/react-countdown-circle-timer/blob/master/packages/mobile/src/hooks/useCountdown.js#L109).

[2020-08-26 07:05] vydimitrov commented on #47
Hey @cristian-milea, until I fix it, as a workaround you can update local state when `onComplete` is triggered and read your `score` and act accordingly :) Let me know if that is helpful.

[2020-08-28 22:20] cristian-milea commented on #47
hi @vydimitrov , thanks for your reply.

That's what I did for now, used a local state + effect to trigger an action.

[code]

[2020-08-29 02:25] sdbala81 opened #48 "unable to reset the initialRemainingTime"
It seems the initialRemaining time cannot be set programmatically.

Only when the values are hard coded they seem to pick and display the colored and the greyed out area in the timer circle properly

Suppose if the values had to be set programmatically  for instance, it doesn't seem to pick up.

Use Case - if the user refreshed the page before the duration expiry I need to start from where he left

[2020-08-29 11:02] 31Karishma opened #49 "onComplete method not working if App in background mode"

[2020-08-29 13:34] vydimitrov commented on #49
Hey @31Karishma, I already investigated this issue. You can read me findings [here]( https://github.com/vydimitrov/react-countdown-circle-timer/issues/7#issuecomment-590054355). In a nutshell, Chrome will pause `requestAnimationFrame ` until the moment the tab gets focused again then `onComplete` will fire if the time is over.

[2020-08-29 13:34] #49 closed

[2020-08-29 13:38] vydimitrov commented on #48
Hey @sdbala81, this is by design to avoid any issues computing colors and progress. Check [this recipes in Readme](https://github.com/vydimitrov/react-countdown-circle-timer#change-duration-andor-initialremainingtime-once-component-is-mounted) to find put how you can change `initialRemainingTime`. Let me know if that helps.

[2020-08-29 14:38] #47 closed

[2020-08-29 14:41] vydimitrov commented on #47
Hey @cristian-milea, this bug is now fixed. I added `onComplete` to the hook dependencies and it updates correctly. Please pull the latest version `2.3.8` and let me know if it works for you.

[2020-09-01 07:02] vydimitrov commented on #48
Hey @sdbala81, I am closing this issue, let me know if you need any additional info from me.

[2020-09-01 07:02] #48 closed

[2020-09-05 13:56] vydimitrov opened #51 "Mobile: countdown does not repeat when using useState function update in onComplete"
This bug affects only React Native countdown timer. The Web/React version on the countdown timer works as expected.

It was found that when using `useState` functional update in `onComplete` handler, the animation does not repeat when the handler returns props to repeat animation. Issue signature:

[code]
It can be reproduced in [this expo shank](https://snack.expo.io/@vydimitrov/countdown-oncompl

[2020-09-06 14:08] JRyanSaunders commented on #51
Hi @vydimitrov  I have been messaging you on twitter under the name Kappiey. I have been trying to implement this in my project for a couple of days now but I can't get it to work. I was wondering if you could take a look at my project to get it working?

https://github.com/JRyanSaunders/Fitness-App

[2020-09-06 20:59] #51 closed

[2020-09-06 21:05] vydimitrov commented on #51
Hey @JRyanSaunders, your app helped me a lot to find the root cause of the bug, thanks for sharing it. The issue was caused by a loop in the `onComplete` callback. Since we were setting state in the callback, the parent component was re-rendered thus a new instance of the `onComplete` callback was passed, which caused to run the callback in a loop.

To solve it, I am now checking if we are in fini

[2020-09-06 22:22] JRyanSaunders commented on #51
I'm glad I could help @vydimitrov - thanks for making such a useful component! I have reverted back to my original code and everything is working perfectly now!

[2020-09-09 20:44] kElias-lrw opened #52 "How do I grab the current time that is being displayed?"
In my program, if they answer all the questions before the time is up I want it to display how fast they completed it, but I can't seem to grab the remainingTime.

[code]

[2020-09-10 07:04] vydimitrov commented on #52
Hey @kElias-lrw, I did a [https://codesandbox.io/s/quizzical-leaf-26vie?file=/src/index.js](quick demo in Codesanbox) where I update state in the `renderTime` function and it works as expected. I suspect that there is some other problem with your code. Could you please create new Codesandbox with your code and I will take a look on it.

By the way`onComplete` is eaither `function` or `undefined`,

[2020-09-15 06:46] vydimitrov commented on #52
Hey @kElias-lrw, I am closing this bug, let me know if you need any additional help.

[2020-09-15 06:46] #52 closed

[2020-09-15 14:57] maormagori opened #53 "isPlaying not updating."
I'm using React not React-native btw.
When passing a refrence to isPlaying the timer is not effected when the refrence value changes. Is there any way to pause/resume the timer otherwise?

[2020-09-15 15:04] vydimitrov commented on #53
Hey @maormagori, changing the value of `isPlaying` to true/false should play/paused the timer. Can share a Codesandbox where you reproduce the issue?

[2020-09-16 09:40] vydimitrov commented on #53
Hey @maormagori, I preped a quick demo for you here - https://codesandbox.io/s/morning-surf-q5exp?file=/src/index.js
Let me know if you have any other questions.

[2020-09-16 09:40] #53 closed

[2020-09-16 17:44] matt-bendel opened #54 "Number size not changing with circle - react-native"
Whenever changing the size prop, the number stays very small.

Here is how I have it setup:
`<CountdownCircleTimer
              isPlaying
              size={250}
              duration={5}
              colors={[
                ['#D9B6FF', 0.4],
                ['#ce03fc', 0.4],
                ['#F758A5', 0.2],
              ]}
              onComplete={this.props.onZero}>
              {({rem

[2020-09-16 18:39] vydimitrov commented on #54
Hey @matt-bendel, have you looked at the [documentation about the `size` prop](https://github.com/vydimitrov/react-countdown-circle-timer#props-for-both-reactreact-native). This would be a good start for you.

You can change the font size of the text as it is done here in [this demo. ](https://github.com/vydimitrov/react-countdown-circle-timer/tree/master/packages/mobile#demo)

[2020-09-16 18:39] #54 closed

[2020-09-16 18:56] matt-bendel commented on #54
Wow I'm an idiot. Thank you for the quick reply and a wonderful component!

[2020-09-17 18:57] cristian-milea commented on #47
it works, thank you!

[2020-10-03 04:19] haydenbleasel opened #55 "Larger strokeWidth doesn't render properly"
Running in React Native + Expo on iPhone 11 Pro.

Changing the `strokeWidth` to anything above `16` results in the stroke not being masked correctly.

![Screen Shot 2020-10-03 at 2 16 39 pm](https://user-images.githubusercontent.com/4142719/94983135-2c7a4f80-0583-11eb-9f03-c561a54dc2fc.jpeg)

[2020-10-04 08:50] vydimitrov commented on #55
Hey, the active path is not masked but rather part of it shown using `stroke-dashoffset` as described [here](https://css-tricks.com/svg-line-animation-works). This seems to be a rendering issue.

Any idea on how to fix it or PR will be very welcomed :)

[2020-10-09 07:32] bheftyes commented on #5
Hi I have the same issue using TypeScript.

[code]

From the actual code:
CountdownCircleTimer.d.ts
[code]

[2020-10-09 08:12] nlindroos opened #56 "Faulty TypeScript Types"
Hi!

[code]

_react-native-countdown-circle-timer/types/CountdownCircleTimer.d.ts_ contains the line
[code]

This presumably refers to the [_use-elapsed-time_](https://github.com/vydimitrov/use-elapsed-time) package. This package is not included as a dependency in _react-native-countdown-circle-timer/package.json_, which causes TypeScript to emit the error `Cannot find module 'use-elapsed-time' or

[2020-10-09 08:14] nlindroos commented on #56
To make TypeScript compilation work, this can be temporarily bypassed with e.g. the following patch, using [patch-package](https://github.com/ds300/patch-package):

[code]

[2020-10-10 17:37] RadoRakotozafy opened #57 "onComplete not working on inactive tab"
The onComplete function is not triggered when we are on a different tab. It gets executed only when we come back.

[2020-10-10 18:23] RadoRakotozafy commented on #57
The same behaviour happen on load.

[2020-10-11 14:03] vydimitrov commented on #57
This issue was already discussed. Please refer to [this comment I left](https://github.com/vydimitrov/react-countdown-circle-timer/issues/7#issuecomment-590054355)

[2020-10-11 14:03] #57 closed

[2020-10-11 14:19] vydimitrov commented on #56
Hey @nlindroos, thanks for reporting this issue. It is now fixed in 2.3.10 👍

[2020-10-11 14:19] #56 closed

[2020-10-12 08:29] nlindroos commented on #56
Thank you @vydimitrov for the quick response and fix!

[2020-10-16 14:18] lacsinagramar opened #59 "Custom countdown circle"
Hi, is there any way I can edit the circle of the timer?

[2020-10-16 14:47] vydimitrov commented on #59
[There are bunch of props](https://github.com/vydimitrov/react-countdown-circle-timer#props-for-both-reactreact-native) that you can change to customize the timer cirle.

[2020-10-16 14:55] lacsinagramar commented on #59
Uh yes, sorry I did not make myself clear. What I meant is, is there any way I can have a custom SVG of the Circle timer.

Something like this:
![image](https://user-images.githubusercontent.com/29629828/96273936-80b11500-1002-11eb-9579-0a67ed1bd65f.png)

The dots there are based on a specific time. (e.g On 10:00 there will be a dot on the timer)

[2020-10-17 09:02] Rickardo228 opened #60 "Where does requestAnimationFrame get called?"
Hi Vasil,

Really great library, thank you!
I have been reading all of the source code for this component (web) to try to learn and understand how it works.
If you have time to answer a quick question, I'd very much appreciate it!

How does the animation work? I understand this is probably done by requestAnimationFrame or setInterval, but I can't see this called anywhere in the source. I also can'

[2020-10-17 09:04] Rickardo228 commented on #60
Think I just found it - your other library!
import { useElapsedTime } from 'use-elapsed-time'

[2020-10-17 12:28] vydimitrov commented on #60
Hey @Rickardo228, you are right, the component is using `useElapsedTime` library that returns the elapsed time since the animation started. That happens on every `requestAnimationFrame` and causes rerender (using `useState`) so the component can update its state and move the timer. Hope that helps you. Let me know if you have any other questions.

[2020-10-17 12:29] vydimitrov commented on #59
This looks good. But the component does not have anything out of the box, which would allow you to build it. If you have any idea how you can do it I am ready to help you.

[2020-10-19 14:45] vydimitrov commented on #60
I am closing this issue. Let me know if you need some more info on how thing work.

[2020-10-19 14:45] #60 closed

[2020-10-22 06:34] vydimitrov commented on #59
Hey @lacsinagramar, I am closing this bug for now. Let me know if you need anything else from my side.

[2020-10-22 06:34] #59 closed

[2020-10-25 11:24] vydimitrov commented on #55
Hey @haydenbleasel, I am not able to reproduce it. I tested it on iPhone 11 and it works just fine. Please refer to the image below where the stroke width is 40.

I am closing this issue for now.

![83557](https://user-images.githubusercontent.com/10707142/97105637-bae27c80-16bc-11eb-91d7-08c48ac05e6e.jpg)

[2020-10-25 11:24] #55 closed

[2020-10-27 13:54] joaonunogomes opened #61 "Add timer to the notification bar while the app is running in background"
Hi! First of all great library!
Is it possible to add the timer to the notification bar while the app is running in background?

[2020-10-28 07:48] vydimitrov commented on #61
Hey @joaonunogomes, is it about Mobile and React Native? I am not sure how animations are handled in Mobile while the app in running in the background. On desktop, while the tab is not active the `requestAnimationFrame` calls will be reduced or suspended so it does not consume CPU. Thus you can not relay that the timer will go smoothly while the tab is not focused.

[2020-10-28 12:05] joaonunogomes commented on #61
Hi @vydimitrov, thanks for your quick reply.
My use case is with Mobile and react native, sorry for the lack of context.
I have tested a few times and the timer seems to work smoothly while the app is not on background.
My goal here would be to have the timer also running on notification bar if the app is in background.
Something like the behavior of Android clock timer when the timer is on backgr

[2020-10-28 14:46] vydimitrov commented on #61
I see now ... unfortunately, I don't have any experience with that. Let me know if you manage to add the timer to the notification bar tho. 

[2020-10-28 17:51] joaonunogomes commented on #61
I will. Thanks for the help :)

[2020-10-28 17:51] #61 closed

[2020-10-29 19:38] vincepich opened #62 "useState update don't update countdown"
I created this example https://codesandbox.io/s/countdown-circle-example-ij0nf
and i don't understand why the countdown control not refresh remainingTime when I click on update button.
Is it my mistake or did I not set something well?

[2020-10-30 11:24] vydimitrov commented on #62
Hey @vincepich, [here](https://github.com/vydimitrov/react-countdown-circle-timer#change-duration-andor-initialremainingtime-once-component-is-mounted) is your answer. Let me know if I can help you in any other way.

[2020-10-30 13:45] vincepich commented on #62
Thank you very much! I had read quickly and did not realize that I had to regenerate the key.

[2020-10-30 13:45] #62 closed

[2020-11-04 04:36] rendomnet opened #63 "Focus on passed time"
I want to focus not on remaining time but on passed time.
"Select" with color the line of passed time. strokeLinecap should mark passed time not remaining time.

[2020-11-04 09:03] vydimitrov commented on #63
This is the closest I can get to https://codesandbox.io/s/naughty-morning-f006t?file=/src/index.js

[2020-11-05 21:49] TuCOSMOPOLIS commented on #30
hi for use async functions in onComplete i create an async function and call it from onComplete, something like this

onComplete = () => {
this.asyncFunction();
}

asyncFunction = async () => {
await ....
}

[2020-11-06 07:32] vydimitrov commented on #30
Yup, that is going to work 👍

[2020-11-08 22:26] celandro opened #64 "Cancel timers in componentWillUnmount"
The current implementation leaks memory as it does not cancel the onComplete timer when the component is unmounted.

All timers should be stopped on unmount

Edit: This appears to have been due to the tab component I was using not truly unmounting the components.

[2020-11-08 22:29] #64 closed

[2020-11-09 07:48] vydimitrov commented on #64
Yuo, just for refrence [this code](https://github.com/vydimitrov/use-elapsed-time/blob/master/src/hooks/useElapsedTime.js#L75) will make sure to clean it all.

[2020-11-09 07:48] vydimitrov commented on #63
I am closing this one ... let me know if I can help you in any other way.

[2020-11-09 07:48] #63 closed

[2020-11-12 14:02] Tristan1075 commented on #52
I tried your example code but i got this warning every seconds in react-native :/

![image](https://user-images.githubusercontent.com/31615425/98949364-e86e5900-24f7-11eb-848d-5449c5971b70.png)

[code]

[2020-11-12 14:42] vydimitrov commented on #52
You should return something, like `null`, from `renderTime`

[2020-11-17 09:14] RanaVaibhav92 opened #65 "Required to switch the transition only between two color green and red."
There is a requirement to changes the timer color only in 2 given colors. Is there any way to achieve this .

[2020-11-17 09:23] vydimitrov commented on #65
Hey, do you want the change between the two colors to be sudden without any transtion between them? If that is what you want, you can do it like this:
https://codesandbox.io/s/patient-browser-gmsmh?file=/src/index.js

[2020-11-17 09:32] RanaVaibhav92 commented on #65
Thank you very much for the help.

[2020-11-17 09:37] #65 closed

[2020-11-17 14:46] RanaVaibhav92 opened #66 "Can we use this timer as a circular progress bar."
There is requirement to create a circular progress bar i tried to use it but there is a problem while using this a circular bar the timer is not getting updated when i am just updating the initialRemainingTime the circular bar is not getting updated. Please let me know is there any scope for using this module the way i am trying to use it.

[2020-11-17 16:02] vydimitrov commented on #66
Hey, please read the README and you will find the answer to your question.

[2020-11-18 10:27] vydimitrov commented on #66
Check it here https://github.com/vydimitrov/react-countdown-circle-timer#change-duration-andor-initialremainingtime-once-component-is-mounted

[2020-11-25 07:29] RanaVaibhav92 commented on #66
Thanks for the help got the solution.

[2020-11-25 07:29] #66 closed

[2020-12-18 09:54] GaylordP commented on #61
Hi @joaonunogomes ,

I have the same problem, did you find a solution? Thank you so much :)

[2020-12-18 13:14] GaylordP opened #70 "Run things in the background along with the countdown"
Hello and thank you for your library :)

I use react-native-countdown-circle-timer and **it works very well**. The last five seconds, I execute a "beep" thanks to the react-native-sound library : **it works very well too**.

But when my application is in the background, the beep does not run.
I tried to do a `console.log()` and indeed, as soon as the application goes to the background it no longer

[2020-12-18 14:53] vydimitrov commented on #70
Hey, I guess what happens here is that `Animated` component from React Native (the countdown is using `Animated` internally) is suspending animations when the app is running in the background. You can check [this issue](https://github.com/lottie-react-native/lottie-react-native/issues/412) but I don't see any solution.

[2020-12-29 09:31] vydimitrov commented on #70
I am closing this issue. Let me know if I can help you in any other way.

[2020-12-29 09:31] #70 closed

[2021-01-03 05:37] thesheikhwasim opened #72 "Timer holds/pauses countdown when there is state update"
I used this library to show the timer on my apps quiz module.
The quiz is displayed on UI (1 question at a time). There are user clicks on NEXT-PREV and answer selection and state updates. Whenever I click on any state update click actions, the running timer pauses until state updates.

How did I confirm more?
- I did a back to back click on answers and found that the timer was stopped until I sto

[2021-01-04 08:23] vydimitrov commented on #72
Hey, could you please share some code via Expo Snack, for exmaple, so I can take a look on it?

[2021-01-10 00:27] rpsutton commented on #52
@vydimitrov Is this not still setting state from within a rendered component? I believe the error persists.

[2021-01-10 11:23] vydimitrov commented on #52
@rpsutton, Is this about Web or Mobile? Please create a demo reproducing the issue I will take a look on it.

[2021-01-10 14:43] rpsutton commented on #52
The issue I am having is for Mobile (ios specifically, I have not tried Android). In this [quick demo I made](https://snack.expo.io/@flexhedge/react-native-countdown-circle-timer-issue-demo) there is seemingly no issue. However, when I try to implement the exact same code within an RN app on my machine, I receive this warning.
<img width="336" alt="Screen Shot 2021-01-10 at 9 39 03 AM" src="https:

[2021-01-11 08:31] vydimitrov commented on #52
I'd suggest try to get the snack demo as close as possible to your app and you may find the issue. Let me know if I can help you somehow.

[2021-01-14 07:56] vydimitrov commented on #72
I am closing this one for now, since I am not able to reproduce it. Let me know if I can help you in any other way.

[2021-01-14 07:56] #72 closed

[2021-01-14 17:09] fmagaldea opened #74 "[compatibility] version 2.3.11 breaks IE 11"
Hi,

Version 2.3.7 works fine, but the next one (2.3.11) breaks IE 11, even with bundle through webpack, babel & co.

I think it's because in the node module the bundled file `lib/index.js` contains several arrow functions, for example it starts with `module.exports=(()=>...` which is not compatible with old browsers.

[2021-01-14 19:55] vydimitrov commented on #74
Hey, thanks for reporting the issue. In version 2.3.11 I updated all dependencies including Webpack to v5. I just found out that Webpack in v5 uses ES2015 for the runtime code when browser list is missing, which is the case here. You can read more about it on [here](https://webpack.js.org/migrate/5/#need-to-support-an-older-browser-like-ie-11). I will fix and let you know.

[2021-01-14 20:09] vydimitrov commented on #74
I should be now fixed in `2.3.12`. Please retest it and let me know if that fixes the issue.

[2021-01-15 06:10] fmagaldea commented on #74
Works perfectly now 👍

Thanks for your reactivity!

[2021-01-15 08:45] vydimitrov commented on #74
Hey @fmagaldea, I just pushed a new version `2.4.0` where I added a list of the supported browsers, and reverted the temp fixed from yesterday. Could you please retest that and let me know if still works as expected on IE11? Thank you.

[2021-01-15 11:33] fmagaldea commented on #74
Works as well with 2.4.0 👍

[2021-01-15 11:46] vydimitrov commented on #74
Perfect, thank you for checking that!

[2021-01-15 11:46] #74 closed

[2021-01-18 02:47] birkanozer opened #76 "Version 2.4 is not working with React 17.1"
Here you can try. Version 2.2.0 and beyond is not working with React 17.1

https://codesandbox.io/s/not-working-fgvkb

[2021-01-18 08:25] vydimitrov commented on #76
Hey, the issue is not related to React 17 at all. The problem with that Codesandbox is that the `elapsedTime`, which we get in the `children` prop, is formatted from milliseconds to seconds. This was the case in some very old versions of the library where we were getting the `elapsedTime` in milliseconds. Not while a ago, I updated the library so now we work only in seconds.

You can check this wo

[2021-01-21 07:42] #76 closed

[2021-02-03 15:13] SaadAhmadSaddiqui opened #81 "Timer is lagging / Is slowed down"
I'm using the timer in React-Native
It was working fine but I just noticed huge lag of some sorts. duration of 10 seconds takes 30+ seconds to finish.
I tried the timer on an empty screen and it was working fine.
I have nothing in the code that slows down to timer, so I was wondering if it's because maybe the page in general too "heavy"?
I'm still new to react-native/react so I'm sorry if it sound

[2021-02-03 15:36] SaadAhmadSaddiqui commented on #81
I found the issue. I had a useEffect in the timer render component with elapsedTime in the dependency. Removing it from the dependency fixed it.

`  const Timer = ({ remainingTime, elapsedTime, animatedColor }) => {
    useEffect(() => {
      setTimer(elapsedTime / 1000)
    }, [elapsedTime]) // removed the dependency here

    return (
      <TimerContainer>
        <AnimatedText
          allow

[2021-02-04 08:57] vydimitrov commented on #81
Yup, the `elapsedTime` changes approximately every 16ms and you are using it to set state, which causes your component to rerender on top of the rerender that the timer does already.

What do you do with the elapsedTime when you call setTimer?

[2021-02-04 10:02] SaadAhmadSaddiqui commented on #81
I'm making a quiz app and wanted to get the exact time the user submits their answer to score them accordingly. I have managed to figure out a solution tho.

`const timePassed = useRef(elapsedTime)
    useEffect(() => {
      timePassed.current = elapsedTime / 1000
      console.log(timePassed.current)
    }, [elapsedTime])`

Might not be the cleanest way, but does the job! Let me know if you thin

[2021-02-04 11:03] SaadAhmadSaddiqui commented on #81
I'm making a quiz app and wanted to get the exact time the user submits their answer to score them accordingly. I have managed to figure out a solution tho.

I wanted to send the last time to an api. And, I solved it by saving the time in a ref, rather than in a state.

[code]

[2021-02-04 11:23] vydimitrov commented on #81
Yup, ref is going to work. Are you going to send it when the component is unmounted, or what is the idea to fire the API request? You may no need to keep it even in ref.

[2021-02-04 16:45] SaadAhmadSaddiqui commented on #81
I'm making a quiz app and want to calculate the score according to the `elapsedTime` when the user presses a button. Sort of like Kahoot you could say. With that I do my calculation and send to score to the API.

[2021-02-04 17:03] vydimitrov commented on #81
I was asking about the implementation to fire the API request, so I can give you some advice may be :)

[2021-02-05 04:48] NitishaJPLoft opened #83 "Want to make color transition in reverse"
Hello,
I want to do the reverse thing in this process, is it possible that this color transition on the circle should not remove, it should fill the circle.
Can we change trailcolor at the time of progress running?
Please help, I really need it badly.

[2021-02-05 07:49] vydimitrov commented on #83
Hey, this is the closest I can get to it - https://codesandbox.io/s/compassionate-rain-p6v20?file=/src/styles.css

[2021-02-07 08:12] vydimitrov commented on #81
Closing it for now. Let me know if I can help you in any other way.

[2021-02-07 08:12] #81 closed

[2021-02-07 08:13] vydimitrov commented on #83
By the way, this may become a bit easier when we complete this PR - https://github.com/vydimitrov/react-countdown-circle-timer/pull/82

[2021-02-07 22:12] dani24gl commented on #7
Hi, the `onComplete` function is not being called when the Android app is in the background. How can I fix that?

[2021-02-08 08:21] vydimitrov commented on #7
You can read about it here - https://github.com/vydimitrov/react-countdown-circle-timer/issues/70

[2021-02-08 11:49] Nishant-Pall opened #84 "Unable to change radius of timer circle"
I tried the size props in the documentation, but that is apparently not helping here, is there any way I can change the radius of the circle.

[2021-02-08 11:53] vydimitrov commented on #84
Just change the `width`

[2021-02-08 12:24] Nishant-Pall commented on #84
Oh I see, that clears it

[2021-02-08 12:24] #84 closed

[2021-02-09 06:29] Nishant-Pall commented on #53
Hey, I was having a similar issue with changing the value of isPlaying on an onClick handler call on a button. I'm using setState to change the value whenever I click the button so that the timer stops. Is this the right way because it doesn't seem to be working. I'm sharing snippets from my code. I would really appreciate your help.

`
state = {
		isClicked: false
	}

startTimer() {
		this.setSta

[2021-02-09 07:32] vydimitrov commented on #53
Did you bind `this.startTimer`? Why do you use class components?

[2021-02-09 07:54] Nishant-Pall commented on #53
Yes, I did bind ```this.startTimer```. I'm using class components because it's required in the application. This is just a part of the whole code.

[2021-02-09 07:56] vydimitrov commented on #53
`isPlaying={this.isClicked}` should `isPlaying={this.state.isClicked}`

[2021-02-09 08:06] Nishant-Pall commented on #53
Oh right, it's a state. Thank you so much.

[2021-02-10 07:42] vydimitrov commented on #83
Closing this one. Let me know if I can help you with something else.

[2021-02-10 07:42] #83 closed

[2021-02-10 12:28] NitishaJPLoft commented on #83
Thanks for the solution

[2021-02-16 13:56] Ajmal0197 opened #86 "Listener issue"
TypeError: this._listeners[_key] is not a function. (In 'this._listeners[_key]({
            value: value
          })', 'this._listeners[_key]' is undefined)

__callListeners
    AnimatedNode.js:139:6
__callListeners
    AnimatedWithChildren.js:76:4
_updateValue
    AnimatedValue.js:246:4
animation.start$argument_1
    AnimatedValue.js:211:8
onUpdate
    TimingAnimation.js:144:4
onUpdate
    [nat

[2021-02-16 14:46] vydimitrov commented on #86
Have you tried pausing/resuming the timer when unmounting then mounting screen or coming from background?

[2021-02-17 10:52] Ajmal0197 commented on #86
No, do i need to put the Boolean in isPlaying prop?

[2021-02-17 11:31] Ajmal0197 commented on #86
I think now I am not getting crashes. I hide the countdown component on unmount with a view and then on mount put it back.

[code]

[2021-02-23 07:57] vydimitrov commented on #86
Let me know if you need any additional help on this one.

[2021-02-23 07:57] #86 closed

[2021-03-04 15:25] maacofficial commented on #72
I have the same issue how can i solve this problem?

[2021-03-04 15:45] maacofficial opened #96 "Timer holds/pauses countdown when there is state update"
When i use `setState({example:...});` countdown freezing. How can i solve this?

[2021-03-08 08:35] vydimitrov commented on #96
Web or Mobile? Create reproduction demo and I will take a look on it.

[2021-03-12 14:33] fadlulazmi opened #98 "always zero on safari"

[2021-03-13 09:42] vydimitrov commented on #96
Closing this one. Let me know if I can help you in any other way.

[2021-03-13 09:42] #96 closed

[2021-03-13 09:46] vydimitrov commented on #98
It works just fine one Mobile Safari

![1928](https://user-images.githubusercontent.com/10707142/111026205-63357b00-83e9-11eb-80a4-79c4f343548b.jpg)

[2021-03-15 22:18] riteley opened #100 "onComplete does not use current state"
Thank you for your work on this package.

I want to alter a state upon timer completion. However, it seems as though onComplete uses the state from when the timer first starts. See example [here](https://codesandbox.io/s/fervent-sun-ez03d?file=/src/App.tsx) - code is below too.

The counter can be incremented using the + button. If the + button is pressed while timer is running, the counter increm

[2021-03-16 08:05] vydimitrov commented on #100
Hey @riteley, yup, this is a known limitation of `onComplete`, since it is called from the `requestAnimationFrame` loop [here](https://github.com/vydimitrov/use-elapsed-time/blob/master/src/hooks/useElapsedTime.js#L51). I am planning to rewrite the hook to TypeScript and fix this limitation but somehow I can not find time for it.

On the other hand, if you want to [set state that relise on the pre

[2021-03-16 10:43] riteley commented on #100
Thank you, I didn't know you could do that with setState - works great!

[2021-03-16 10:55] #100 closed

[2021-03-17 07:59] vydimitrov commented on #98
Closing this one due to inactivity.

[2021-03-17 07:59] #98 closed

[2021-03-30 04:59] shashankrepo opened #108 "Can create as a rectangular count down?"
Can we have `width` & `height` props instead of `size`?

[2021-03-30 06:46] vydimitrov commented on #108
The path that animates is calculated as a circle and it can not be changed. To make sure that it is a circle we need the width and height to be the same. That is why there is one prop `size` to change.

If you want to change the path that animates you can fork the repo and change it [here](https://github.com/vydimitrov/react-countdown-circle-timer/blob/master/packages/shared/utils/getPathProps.js)

[2021-03-30 22:38] BrandanN21 opened #109 "Cannot get useState to change with Keys React Native"
Hi, I am working on implementing this into my project and cannot get the use states to change. I tried to follow along with the demo for the restart timer feature but was unsuccessful in getting that to work.

My use case is  as follows: user can select/click a three buttons. Each button having a different duration.

below is my current code:

any and all help would be much appreciate as I am new

[2021-03-31 07:47] vydimitrov commented on #109
Hey, it seems that your duration is fixed to 10 seconds and isPlaying is always set to true:
[code]

I would do something like this:

[code]

[2021-03-31 14:44] BrandanN21 commented on #109
Hi @vydimitrov , Thank you for your response!! I did implement this like you stated above but it still does not seem to do anything when I click on the button? Any thoughts as to why this would not start?

`
const [duration, setDuration] = useState(0);
const [isPlaying, setIsPlaying] = useState(false);

key={duration}
isPlaying={isPlaying}
duration={duration}

<Button onClick={() =>{

[2021-03-31 14:55] vydimitrov commented on #109
Can you share your code?

[2021-03-31 14:58] BrandanN21 commented on #109
@vydimitrov here is my code

[code]

[2021-03-31 16:19] vydimitrov commented on #109
Can you set the initial duration different then 0?

[2021-03-31 18:49] vydimitrov commented on #109
Hmmm, it should really work. Can you drop your code in ExpoSnack so we can both test it and see how it works?

[2021-03-31 23:07] joey234432 commented on #109
https://snack.expo.io/@jon234s/timerproject Here is the code in expo snack. Currently it us just stuck in the time over state.

[2021-04-01 07:39] vydimitrov commented on #109
Please read the React Native docs before on how to use Button component - https://reactnative.dev/docs/button#requiredonpress

[2021-04-01 07:39] vydimitrov commented on #109
`onClick`  does not exist in the RN world.

[2021-04-01 08:36] vydimitrov commented on #108
You will need to define your rectangular as SVG points and pass them to the `d` attrbiute - https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/d. Some more info https://css-tricks.com/svg-path-syntax-illustrated-guide/

You will need to pass also `pathLength` - like if you want a square of 100px then the `pathLength` will be 4 * 100 = 400

The `path` above is composed of 2 arcs, which make

[2021-04-02 23:33] joey234432 commented on #109
shoot, thank you so much for the help. Much appreciated.

[2021-04-03 18:40] #109 closed

[2021-04-07 07:35] vydimitrov commented on #108
I am closing this issue. Please start a [new discussion](https://github.com/vydimitrov/react-countdown-circle-timer/discussions) in case you have more questions.

[2021-04-07 07:35] #108 closed

[2021-04-16 22:36] mangicode opened #117 "Animation pausing when typing in textinput"
Really enjoy the component, I was going to be using it in a trivia app, but unfortunately the animation stalls whenever the user is typing. This defect seems to render the component useless in my case, unless I am overlooking something. Thanks in advance for any clarification!

[2021-04-17 08:04] vydimitrov commented on #117
Hey, can you share your code so I can try to spot the problem?

[2021-04-22 09:02] rastilho8 opened #119 "React Native - Display days, hour, ..."
I want reproduce the example that is available in the sandbox to show the days, hour, minutes, etc. but for react-native. The code provided in the sandbox should work in react native but I can´t reproduce the same results. I have logged the results and they are equal but still not showing correctly. What is the difference?

[2021-04-22 09:12] vydimitrov commented on #119
Hey, can you share your code or RN demo?

[2021-04-22 09:19] rastilho8 commented on #119
Hey, thanks for the quick reply! I have used the exactly same code just changed the  imports nothing more to test out.

`import React from 'react';
import {CountdownCircleTimer} from 'react-native-countdown-circle-timer';
import {
    View,
    Text,
  } from 'react-native';
  import moment from 'moment';

const minuteSeconds = 60;
const hourSeconds = 3600;
const daySeconds = 86400;

const timerPr

[2021-04-22 10:06] vydimitrov commented on #119
The problem is that the elspaedTime is returned in milliseconds. As a workaround you will need to do it like this:
`renderTime("...", getTimeSeconds(elapsedTime / 1000))`

Check this one - https://snack.expo.io/@dimitrov/countdown-timer---hour-minutes-seconds

I will fix this bug. I hope in the next few days. Just FYI.

[2021-04-22 10:10] rastilho8 commented on #119
Thanks for the help!!!

[2021-04-23 07:31] vydimitrov commented on #117
Closing this one due to inactivity.

[2021-04-23 07:32] #117 closed

[2021-04-28 14:36] #119 closed

[2021-04-28 14:41] vydimitrov commented on #119
Hey @rastilho8, the bug is fixed in `v.2.5.2`

[2021-05-08 13:10] saviomartin opened #123 "TypeError: s is not a function"
![scrnli_08_05_2021_18-39-48](https://user-images.githubusercontent.com/61895712/117540389-cda31a00-b02c-11eb-9ed2-9bd02aac3356.png)

I'm getting this error.

[2021-05-10 06:56] vydimitrov commented on #123
How do you use the component? Can you share your code for the component?

[2021-05-10 08:33] saviomartin commented on #123
I somehow was able to fix it up!

[2021-05-10 08:34] #123 closed

[2021-05-10 09:54] alelopfue95 opened #127 "Error installing"
When trying to 'yarn add', obtained this:

error An unexpected error occurred: "https://registry.yarnpkg.com/react-native-keyboard-aware-scroll0-view: Not found".

Seems a typo, must be react-native-keyboard-aware-scroll-view, without '0' in scroll0.

Anyone with same error?

[2021-05-10 09:57] #127 closed

[2021-05-12 22:28] fmagaldea opened #130 "Version 2.5.2 broken on IE11"
Version 5.2.1 works well, but the latest one crash on IE11 for some reason that I'm not sure because my IE11 test environment is hardly debuggable.

Anyway it would be nice for you to have at some point a test or something to check this kind of regression :)

[2021-05-13 18:46] vydimitrov commented on #130
The bug is fixed in v2.5.3 by https://github.com/vydimitrov/react-countdown-circle-timer/commit/9eb01663e824b94779e3fdab60c31134e6448ca9. The IE support will be dropped in the next major release, which I am currently working on.

[2021-05-13 18:46] #130 closed

[2021-05-17 23:21] BrnPer opened #133 "Change to Next Color without making a transition"
Hello everyone!

I think it would be awesome to have an option that would allow to change the color without making a transition between colors.
Sometimes the in between colors in a transition are not very readable. So I would like just to change the color without making a transition.

I hope that I could explain myself in a easy way. Sorry for my bad english 😅
Thanks in advance!

[2021-05-18 07:05] vydimitrov commented on #133
Hey @BrnPer, this is quite possible with the current API. Please refer to [this demo](https://codesandbox.io/s/ecstatic-driscoll-q1v75?file=/src/index.js)

[2021-05-18 19:45] BrnPer commented on #133
Hi @vydimitrov yeah that was exactly what I was looking for 👍  But to me honest I don't understand why this is working 😕
Thanks in advance!

[2021-05-19 06:17] vydimitrov commented on #133
May be reading [the props](https://github.com/vydimitrov/react-countdown-circle-timer#props-for-both-reactreact-native) for the `colors` prop may help you. But in essence:

[code]

[2021-05-19 11:34] BrnPer commented on #133
Ohhhh I get it know! Thank you for your precious help! And awesome work in this package!

[2021-05-19 11:34] #133 closed

[2021-05-21 10:38] cosmosmurf opened #136 "Update documentation"
Ignore

[2021-05-21 10:41] #136 closed

[2021-05-31 12:08] iserzh opened #143 "Gradient directions"
Hi,

It will be great to make it possible to change gradient directions. Like we can pass custom x1, y1, x2, y2 coords as prop or custom linear gradient component at all. Why I need this? For example, with current implementation it's impossible to create gradients like this:
<img width="417" alt="Screen Shot 2021-05-31 at 15 07 21" src="https://user-images.githubusercontent.com/11062353/120190921-

[2021-05-31 12:20] vydimitrov commented on #143
Hey @iserzh, thanks for the feature request - lets take the discussion [here](https://github.com/vydimitrov/react-countdown-circle-timer/discussions/67#discussioncomment-806668)

[2021-05-31 12:20] #143 closed

[2021-06-07 14:45] joafran opened #148 "Render error and can't display"
I'm getting this error
<img src="https://i.ibb.co/ZxwKq8V/Screenshot-1623075285.png" height="400" width="300" />

And this is my code
[code]

And I'm trying to use it in another component like this
[code]
Maybe I missed something, but I tried expo.snack and demos but it still doesn't work

[2021-06-07 15:52] joafran commented on #148
I just realized that I installed react instead react-native dependency.

[2021-06-07 15:52] #148 closed

[2021-06-19 00:44] rpsutton opened #150 "MOBILE Countdown timer stalls onComplete until the screen is touched."
I am developing with the most recent version of react-native on a real iPhone X that is running the most recent IOS. The timer component stalls on completion and does not update until the screen is pressed. However, I have written the exact same code in a [snack demo](https://snack.expo.io/@flexhedge/react-native-countdown-demo), and the snack demo functions as expected. I have attached a screen r

[2021-06-21 07:12] vydimitrov commented on #150
Hey, hmmm, that it is an interesting one, I am not sure what is the cause tho. One thing I can recommend by looking the code is this:

[code]
This will guarantee that all usages of `key` are in sync,

I guess you can try to reproduce it on a different real iPhone and see if the issue has anything to do with iPhone X.

[2021-06-21 12:19] quansenB commented on #98
FYI. I stumbled across a similar issue. It was due to new Date("2021-07-02 19:55") being interpreted differently in Safari (as invalid Date). So if anybody has a similar issue I'd recommend looking in this direction

[2021-06-21 12:52] vydimitrov commented on #98
Thanks for sharing it.

[2021-06-22 02:13] rpsutton commented on #150
Changing `onComplete` per your suggestion appears to work. Thank you! I am curious, though, how your version of the `onComplete` function guarantees that the key is in sync? Would you please explain what is happening in that code sinppet?

[2021-06-22 06:32] vydimitrov commented on #150
This is how React works, you can read more about it [here](https://reactjs.org/docs/hooks-reference.html#functional-updates).

[2021-06-23 22:22] rpsutton commented on #150
Hey @vydimitrov, the problem, unfortunately, reappeared after installing `react-native-haptic-feedback` and adding haptic feedback to the button.

[2021-06-23 22:28] rpsutton commented on #150
Now I have deleted, rebuilt, and reinstalled the application onto my iPhone XR and the problem is solved once again, yet I changed no code. Any idea why this behavior is happening?

[2021-06-23 23:21] #150 closed

[2021-06-24 06:39] vydimitrov commented on #150
It seems to me that some of your dependencies are causing the issue. One way to find out the cause would be to start a new project, add the timer and after that start adding your dependencies one by one. Then you can figure out which is the one that bugs it.

[2021-07-21 01:40] oreon opened #156 "how to get state (isplaying or not) in between loop runs"
Building a react native workout app.
I am returning [true, 1500] as per the docs to have a 1.5 second rest interval in between workouts, when the timer is in this state I want to switch the workout image to a 'resting' image but can't do it since isplaying returns true . Maybe there is another property that I am not aware of.

[2021-07-21 16:08] vydimitrov commented on #156
Hey, can you share your code with me and I will take a look on it? How do you change the image?

[2021-07-22 22:53] oreon commented on #156
I got it to work thanks Vasil,
How do you change the transitions to vertical as in the third image on the
github page

Here is the code for anyone else who has a similar use case

export default function Workout() {
const sets = 2;
const exercises = 4;
const REST = 2;
const INTERVAL = 4;

const [isPlaying, setIsPlaying] = React.useState(false);

const [current, setCurrent] = React.useState(1);
con

[2021-07-31 09:55] Imran-Aslam opened #157 "Uncaught TypeError: Cannot read property 'duration' of undefined at T (colors.js:95) at E (useCountdown.js:70) at R (CountdownCircleTimer.jsx:26)"
I'm trying to build a timer and change the duration using useState but encounter this issue. How do we resolve this issue???

[2021-07-31 09:57] Imran-Aslam commented on #157
I'm trying to build a timer and change the duration using useState but encounter this issue. How we resolve this issue???

[2021-07-31 15:58] vydimitrov commented on #157
Hey, can you share your code?

[2021-08-04 13:59] prechapl opened #165 "Duration 60 takes 86 seconds on Android device"
I'm working on RN app where the timer is much slower on Android than on IOS.

When setting duration 60, the timer actually takes 86 seconds on Android device

When setting duration 60, the timer actually takes 67 seconds on IOS device

Any advice on how to optimize this would be greatly appreciated!

Thanks for creating this package.

Thanks,
Preston

[2021-08-05 16:46] vydimitrov commented on #156
[Here is the React demo](https://codesandbox.io/s/silly-night-d3s70?fontsize=14&hidenavigation=1&theme=dark) - hope it will help you to figure out how to implement the same with ReactNative.

[2021-08-05 16:46] #156 closed

[2021-08-05 16:47] vydimitrov commented on #157
Closing due to inactivity.

[2021-08-05 16:47] #157 closed

[2021-08-05 16:48] vydimitrov commented on #165
Hey, how do you test it? On real device or simulator?

[2021-08-05 17:11] prechapl commented on #165
I tested on Android device, Ios device, and Ios simulator.

[2021-08-06 06:45] vydimitrov commented on #165
It seems to be working fine in the Snack - https://snack.expo.dev/@dimitrov/countdown-circle-timer?platform=ios
It may be related to your code that slows down the runtime , thus the timer is affected. I'd suggest creating a new App and adding just the timer to see what would be the result.

[2021-08-19 06:59] vydimitrov commented on #165
Hey @prechapl, any luck on reproducing this one on different devices?

[2021-08-25 04:51] renovate[bot] opened #167 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update all non-major dependencies](../pull/170) (`eslint-plugin-react`, `react-native`)
 - [ ] [chore(deps): update dependency e

[2021-09-01 13:33] DICOT4 opened #173 "Start/Restart timer on button click"
Is there a way to start/restart the timer on the button click?

For example:
[code]

I'm trying like the above example but it doesn't seem to work. I noticed that as soon as the button sets the `isPlaying` to `true`, the `onComplete` function gets called instantly.

[2021-09-01 14:57] vydimitrov commented on #173
Hey, check the recipes and you will find your answer - https://github.com/vydimitrov/react-countdown-circle-timer#recipes

[2021-09-01 14:59] #167 closed

[2021-09-02 08:49] DICOT4 commented on #173
Thank you for the prompt response. It seems to be working with the change of the `key` prop. However, I feel there can be a better control for that (e.g. a method to pause or restart).

[2021-09-02 08:49] #173 closed

[2021-09-29 02:15] 1280103995 opened #175 "Center offset"
This bug appears on both Android and iOS.
<img width="377" alt="2021-09-2910 11 54" src="https://user-images.githubusercontent.com/17424486/135191371-8aca42f7-0038-49c9-aa5e-98156e86ff00.png">

[code]

[code]

[2021-09-29 15:47] vydimitrov commented on #175
It seems quite centered to me. I am not sure what is your setup. Please create a demo where you reproducing the issue and I can take a look on it.

Check the Snack below:
https://snack.expo.dev/bttGD8k4N?platform=ios

![image](https://user-images.githubusercontent.com/10707142/135303430-507f91b9-681f-4251-9949-cc426e6fe704.png)

[2021-09-30 03:09] 1280103995 commented on #175
I ran your code locally on the computer and reproduced the problem. But it is normal on the browser. So I think this is a bug in the native code.

Android: Samsung A51 (Android 11)
iOS: iPhone XR (ios 15)

<img src="https://user-images.githubusercontent.com/17424486/135378898-526d2f67-a6f7-496e-bcdf-61070e287890.png" width="60%" height="60%"/>

[2021-10-01 07:42] vydimitrov commented on #175
This is my phone - iPhone 11 ios15
![IMG-1001](https://user-images.githubusercontent.com/10707142/135583612-14a9e494-2e6e-436d-9794-b32e493ced0a.PNG)

Please test it outside your App.

[2021-10-04 02:10] moebachrouch opened #176 "Error: Invalid hook call. Hooks can only be called inside of the body of a function component."
I installed `react-countdown-circle-timer` to my project, and decided to only use it inside my App.js before adding any additional components or even starting my project.

Here is my code currently:

[code]

I have no other components.

However I get the following errors:

![image](https://user-images.githubusercontent.com/54571275/135783626-4cdb67ff-47b6-4acd-9011-edce13d1c1e7.png)

[2021-10-04 02:19] emileber commented on #176
[Tested it](https://codesandbox.io/s/aged-frost-on8kv?file=/src/App.js) and can't reproduce with the available information. Here's the [Stack Overflow thread](https://stackoverflow.com/q/69430220/1218980) for anyone reading this.

[2021-10-04 02:20] moebachrouch commented on #176
Will check this out, thank you!

[2021-10-04 02:21] #176 closed

[2021-10-08 01:59] 1280103995 commented on #175
This is not a bug, it is a problem with my application.

[2021-10-08 01:59] #175 closed

[2021-10-15 12:29] berkaygurbuz opened #177 "How can i start timer from 0 to end time."
Is there any feature about to start timer from 0 to end time.

[2021-10-17 00:03] berkaygurbuz commented on #177
I want to use like a timer not a countdown timer. It starts 0 to specific end time.

[2021-10-27 11:20] berkaygurbuz opened #178 "Change the view of user interface"
I want to change the circle user interface. Is there any way to change circle as follows image:
![1](https://user-images.githubusercontent.com/61121747/139056070-f5725ff6-54c0-42f6-b104-0daaf3b677d5.PNG)

[2021-10-29 22:01] acopetkovic opened #179 "Can you save value of remainingTime when app goes to background?"
I have countdown that starts with 86400 seconds (24hours) so when user leaves the app and then opens it again afrter some time, how can I resume countdown rather the it just restarting back to 86400 sec?

Is it possible to save value of time remaining when app state changes?

[2021-10-30 11:25] vydimitrov commented on #179
Hey, you will need to implement it yourself. You can get the remaining time from the children component, like so:

[code]

Then you will need to save it somewhere when the app goes to background. Once it comes back you can use the value you saved and pass it to `initialRemainingTime` prop and keep the same `duration` as before. If the component it is not mounted again once the app comes back you w

[2021-11-03 09:06] berkaygurbuz commented on #178
@vydimitrov You can follow the idea in this [forked repository](https://github.com/berkaygurbuz/react-countdown-circle-timer)

[2021-11-05 08:35] vydimitrov commented on #178
Great, it looks good so far. Let me know if you want me to look at some part of it and help you.

[2021-11-05 09:57] berkaygurbuz commented on #178
@vydimitrov I can't figure out the getPathProps method. I create svg but it doesn't rotate. I think we have to change it to our custom svg. Maybe you can help me in this method.

[2021-11-06 21:16] vydimitrov commented on #178
I tried a few different things but I was not really able to get it 100% as on the design. I would recommend you to dig in a bit more in to `ClipPath` function. Unfortunately, the `strokeDasharray` on the clip path is not taken and it is not applied on the animated path. Check the snippet below:

[code]
I'd suggest to try to find a different way how you can clip the animated path. One idea is to us

[2021-11-06 21:19] vydimitrov commented on #178
This is my best attempt IMO. Make the animated path transparent and put behind your path with the `strokeDasharray="2"`

<img width="400" src="https://user-images.githubusercontent.com/10707142/140624063-4fb1dafa-8668-4b9c-925d-6ae7049719e5.PNG" />

[2021-11-06 21:21] berkaygurbuz commented on #178
Can you animate the circle? It looks not bad I think.

[2021-11-06 21:25] vydimitrov commented on #178
Yes, you need to just this one
[code]

[2021-11-06 21:45] berkaygurbuz commented on #178
Maybe we have to know how to add some margin between circle stick.

[2021-11-06 21:48] vydimitrov commented on #178
Try this `strokeDasharray="2 4"`

[2021-11-08 08:42] vydimitrov commented on #179
Hey @acopetkovic, does the solution above work for you?

[2021-11-08 14:32] acopetkovic commented on #179
Yes! I made it work. Thank you.

[2021-11-08 14:40] vydimitrov commented on #179
Cool, I am closing this one then.

[2021-11-08 14:40] #179 closed

[2021-11-11 08:49] amirsamani opened #182 "need use multiple countdown"
hi,
i use a countdown in each row of a table
I want to delete that row when the each count down timer complete
please help me.

[2021-11-11 09:16] vydimitrov commented on #182
Hey, you can hook to the [`onComplete` method](https://github.com/vydimitrov/react-countdown-circle-timer#props-for-both-reactreact-native) and add your logic to delete the row

[2021-11-11 09:18] amirsamani commented on #182
thanks is there any way to access parent tr of completed countdowntimer in onComplete method?

[2021-11-11 09:21] vydimitrov commented on #182
This depends of your implantation. Usually you pass a prop, which is a method/function from the parent to the children. Then in the `onComplete` you call the prop/method and the parent takes it from there.

[2021-11-12 10:33] berkaygurbuz commented on #178
I change ```strokeDashArray="3 8"```. I got similar design but the working logic is a little different. Circle starts blank screen because I choose ```stroke="white"``` in animatedPath and when time is increasing, design is rotating.

[code]
```trailColor``` is also white. You can change colors depends on your background color.

![image](https://user-images.githubusercontent.com/61121747/141452783

[2021-11-15 11:36] dunesfactory03 opened #183 "How Can I Give Custom Height Width To Countdown svg"

[2021-11-15 11:38] #183 closed

[2021-11-15 15:41] vydimitrov commented on #178
May be you can try to add one new `Path` after the `AnimatedPath` so it will be always shown since it will be on top of it. If the new `Path` has some opacity on it, you can make it looks close to the design but inverted - the remaining time will have lighter color and the elapsed time will have darker color. Is that going to work for you?

[2021-11-19 14:44] vydimitrov commented on #182
Let me know if you need any additional help on this one.

[2021-11-19 14:44] #182 closed

[2021-11-22 11:48] kingshax opened #184 "Display oncomplete Remaining time"
Hello, is there any way to display the time remaining left before the timer restart ?
example: once my 10 seconds are gone, I want to show the remaining time before the timer reset.

Thank you

[2021-11-22 12:28] vydimitrov commented on #184
Hey, the [`children` prop](https://github.com/vydimitrov/react-countdown-circle-timer#props-for-both-reactreact-native) receives also the remaining time.

[2021-11-22 14:07] kingshax commented on #184
Hey,

I mean I already managed to start the timer and display it with the remainingTime, it already restart at a certain time based on user input.
I'm having trouble displaying the reset time plus it does not decrement itself (atleast when I'm displaying it) otherwise the reset functionnality works well with the onComplete..

Dunno if I'm clear ><

[2021-11-22 19:32] vydimitrov commented on #184
You will need to pass a `key` prop to the component and change the value when you want to reset the animation while the timer is running. You can check the receipts there are some examples on how to do it.

[2021-11-22 19:34] vydimitrov commented on #184
Here is a demo https://codesandbox.io/s/tender-bogdan-qd35m

[2021-11-22 20:21] berkaygurbuz opened #185 "Alert sound plays several times when the remaining time less than 5"
I want to play a sound If the time is less than 5 and it repeats 5 times every seconds. When I use my method I saw that every miliseconds it goes inside of remainingTime and it plays more than 5. Is there any way to figure out ?

[code]

[2021-11-22 20:28] berkaygurbuz commented on #178
I think this [solution](https://github.com/vydimitrov/react-countdown-circle-timer/issues/178#issuecomment-966995158) is enough for me. Thanks for the help.

[2021-11-22 20:28] #178 closed

[2021-11-23 08:24] vydimitrov commented on #185
Hey, you will need to keep track of the previous state and fire the sound when it changes. I'd something like this:

[code]

[2021-11-23 10:37] berkaygurbuz commented on #185
@vydimitrov

[2021-11-23 10:37] #185 closed

[2021-11-23 12:54] kingshax commented on #184
I think it will be better with this:
https://user-images.githubusercontent.com/35834812/143027083-f9d88e9e-5e20-4333-bb73-3aa8ea4808a5.mov

I just want instead of the 'finished!', to display the 2 seconds that are being returned, the ones in the 'rest time'.
Really can't figure it out, maybe it doesn't fit with the countdownTimer..?

[2021-11-25 23:24] ed-val commented on #157
Run into the exact same issue. It is related to this issue:
[https://github.com/vydimitrov/react-countdown-circle-timer/issues/48](url)
Turns out, the value passed to the prop 'initialRemainingTime' was mutating in between renders without me knowing (as it was not inside the component's state). This value was calculated dinamically using moment.js. Plain and simple: I was not updating my 'key' pro

[2021-12-01 10:45] WagdySamih opened #186 "Warning: Cannot update a component from inside the function body of a different component"
##   Warning: Cannot update a component from inside the function body of a different component

I am trying to use react-countdown-circle-timer but I am facing an error

[code]

here is my code

[code]

and Iam calling this component from here
[code]

[2021-12-01 11:06] vydimitrov commented on #186
Hey, can you try to remove `onTimeChangeHandler(remainingTime);` and see if the fixes the warning?

[2021-12-01 11:11] vydimitrov commented on #186
From what I am getting from the error it seems you are trying to call a `setState` on the parent component from the child component/CountdownCircleTimer function body. Try to keep the state local to the TimeCounter component and see if that will happen again.

[2021-12-01 11:16] WagdySamih commented on #186
@vydimitrov
That's true
But what if I want to use the `remainingTime` value to dispatch another action after a specific time?
Is this behavior can be done using `renderAriaTime` function?

[2021-12-01 11:47] vydimitrov commented on #186
I'd recommend using `useRef` hook instead of `useState` because the ref one will not cause retendering and you will not get into this problem. You can fire your async actions from the `children` function in the CountdownTime body as you have it.

[2021-12-06 10:00] vydimitrov commented on #184
I am not able to see the video. Can you try to add it here in the bug or create a  codesandbox so I can see?

[2021-12-07 06:14] ucheNkadiCode commented on #186
@vydimitrov, from the point where I would use the useRef hook, how do you recommend that I still manage to update the state of another component? In the case of my app, I take the remainingTime, and multiply it by how many laps the user has remaining and how long they think a lap should take.

There is a Text element outside of the Countdown timer that is "Estimated time: {estimatedTime}". I basic

[2021-12-09 16:07] WillSmithTE commented on #7
Hi, my use case is I run the timer multiple times with different time lengths. E.g. I might run it for 20 seconds, then 15 seconds, then 30. Each time the timer completes I play some audio and expect the next timer to start immediately. Obviously this is a problem when I change tabs, because I want to keep cycling through each timer length and hearing the sounds in the background. I understand you

[2021-12-09 16:18] vydimitrov commented on #7
Hey @WillSmithTE, are you sure that you can play sound from none active tab? The only way I can thing off now is to stop the timer when the tab changes visibility, get the remaining time and star a loop using setInterval, which should run even when the tab is not active. Once the user comes back start the timer again with the remaining time from the loop.

[2021-12-10 07:39] jenvillaganas opened #187 "State not updating inside onComplete function"
I'm building a component that has an input and I'm using timer so that after the duration completed it will automatically submit the input. But state where the input value is getting stored is not getting updated inside onComplete function..
Here's a sample: https://codesandbox.io/s/intelligent-mayer-6qrpw?file=/src/index.js

[2021-12-10 08:09] vydimitrov commented on #187
Hey @jenvillaganas, the issue is caused by the fact that we call `onComplete` from the `requestAnimationFrame` so it will be fired with the initial state the function was in when the animation loop started.

One was to go around is to use `ref`, check an example here - https://codesandbox.io/s/nostalgic-vaughan-0znh6?file=/src/index.js

Otherwise I am working on the next major release of the compo

[2021-12-10 08:11] vydimitrov commented on #186
I will be adding a new prop `onUpdate` with the next major version (I am already working on it) of the component that should help here. I am closing this bug for now.

[2021-12-10 08:11] #186 closed

[2021-12-10 08:12] #187 closed

[2021-12-20 07:49] vydimitrov commented on #184
I am closing this bug, let me know if you need any additional help.

[2021-12-20 07:49] #184 closed

[2021-12-23 12:15] berkaygurbuz opened #188 "Timer circle color not change"
I created custom svg in for timer circle with issue #178 . Now, I want to change circle color when the isRest variable is true. It works in web but it can not change in mobile device.

Here is my forked react-countdown-circle-timer package : [Forked Repo](https://github.com/Clouxart/react-countdown-circle-timer/tree/feature/countdown-circle-timer)

Here  is my code :
[code]

It seems like this in

[2021-12-28 19:29] vydimitrov commented on #188
Hey @berkaygurbuz, long time no talk to you? How are you doing? I am happy to see that you are moving forward on your custom circle. I checked your case in ExpoSnack and it seems to be working fine. You can test it here - https://snack.expo.dev/@dimitrov/countdown-timer-color-demo

May be try to do this instead:

[code]

[2021-12-29 00:14] berkaygurbuz commented on #188
@vydimitrov thank you It is going good. What about you ? We didn't talk long time because I don't want to disturb every time 😅 By the way, it works now but what is difference using ```[[color]]``` and using ```hex color```. When I check  your documentation it says it is also the way to use props.

[2021-12-29 12:55] vydimitrov commented on #188
All good around here! No worries, you can ping me when you have some questions.

I just checked both options below. You can test it yourself [here](https://snack.expo.dev/@dimitrov/countdown-timer-color-demo).
[code]
It seems both are working but when doing the first one the change happens after a bit of time. I'd assume that because we are passing a new array every time which causes a lot of reca

[2021-12-29 13:43] #188 closed

[2022-01-03 13:24] talha131 commented on #123
I faced the same issue. My mistake was making a string the child of `CountdownCircleTimer`.

[code]

It should be a function.

Like

[code]

_Hope it helps someone._

[2022-01-12 03:40] 1280103995 opened #190 "The usage and remaining radians are inconsistent"
[code]
<img src="https://user-images.githubusercontent.com/17424486/149058990-b72e46ad-2fc6-4145-9259-f8fdfb44a052.png" width="30%" height="30%"/>

-------------
[code]
<img src="https://user-images.githubusercontent.com/17424486/149059213-ab145cb2-b135-4e34-825d-b37890214000.png" width="30%" height="30%"/>

I just modified the [demo](https://codesandbox.io/s/tender-bogdan-qd35m?file=/src/index.js

[2022-01-12 07:41] vydimitrov commented on #190
Hey @1280103995, yup, this is how the timer is supposed to work. You set the `duration` of 100 so the full circle will be 100 seconds. Now you want to change the start point and pass `initialRemainingTime` of 90 seconds. So now when the timer renders it will start from a point where 90 seconds are left.

Check also [this one](https://github.com/vydimitrov/react-countdown-circle-timer/tree/master/p

[2022-01-12 10:02] 1280103995 commented on #190
I mean: in pic 1, the arc length in grey should be equal to the arc length in red (it seems) in pic 2.

[2022-01-12 10:05] vydimitrov commented on #190
The `initialRemainingTime` determines the arc length in red when the component mounts.

[2022-01-12 10:15] 1280103995 commented on #190
When I change the code to (1 remaining):
[code]
The effect obtained is as follows:
<img width="30%" height="30%" src="https://user-images.githubusercontent.com/17424486/149120668-91b6d6df-5aba-4e2e-80ff-f71e5b531e00.png">

It seems that some arc length is added.

Is this a bug in SVG?

[2022-01-12 10:22] vydimitrov commented on #190
I see, so your concern is that small piece on the right side of the pink line?

[2022-01-12 10:30] 1280103995 commented on #190
Yes. But there is also on the left.

[2022-01-12 10:31] vydimitrov commented on #190
The part on the left is the remaining time that you pass with `initialRemainingTime={1}`, This is 1 second left from the 100 seconds you pass a duration.

[2022-01-12 10:35] 1280103995 commented on #190
So the correct effect should be: in the case of the remaining 1, only draw a little arc length to the left of the pink line.

[2022-01-12 10:37] 1280103995 commented on #190
I've been troubleshooting all day today, it should be an SVG bug, I'll continue tomorrow.

[2022-01-12 10:41] vydimitrov commented on #190
Yes, that is correct. At this moment, I do not have any clue why it move a bit to the right. I will try to investigate it. Is this critical issue for you? This is really the first time I see it.

[2022-01-12 10:41] vydimitrov commented on #190
Preproduction demo here - https://codesandbox.io/s/busy-brook-3fmyz?file=/src/index.js

[2022-01-12 11:58] vydimitrov commented on #190
I think I found it, the path starting point needs to be moved with half of the width of the path. Like so

Before `d="m 90,6 a 84,84 0 1,0 0,168 a 84,84 0 1,0 0,-168"`
After `d="m 84,6 a 84,84 0 1,0 0,168 a 84,84 0 1,0 0,-168"`

At first look it seems that to fix it we will need a custom path for the circle and not using arches as above, which I am not sure it is worth doing it.

[2022-01-13 01:11] 1280103995 commented on #190
The problem exists in my production app, but it doesn't affect much. Just a UI issue.

[2022-01-13 01:13] 1280103995 commented on #190
I tried to implement the same progress bar using react-native-svg, same problem.

[2022-01-13 08:11] vydimitrov commented on #190
Yup, it is the same logic to render the path. I am not sure if I am going to fix it since it is very tricky. If that is such a big problem one idea is to rotate the path so it matches the start point.

I will check if I can come up with some formula to calculate the start point and the arches based on the path width but can't promises anything.

[2022-01-13 22:40] Hirbod opened #191 "Feature request: more precision"
Hi, lovely lib and nice rewrite. The `onUpdate` callback is also nice, but I need a bit more precision.
I am using the timer to show time left to record a video. The video record can be done in segments and the timer will recreate itself always based on remaining time etc.

I am working with ffprobe to get the exact duration of my recorded videos and the user is not allowed to exceed the max durat

[2022-01-14 08:44] Hirbod commented on #191
Hi @vydimitrov, thanks for rubberducking with me. I got a solution now :D

[2022-01-14 08:45] vydimitrov commented on #191
Yup, you can use the `elapsedTime` to display the remaining time, which has the full precision you need. Check it here:

https://codesandbox.io/s/flamboyant-cartwright-1vz3q?file=/src/index.js

Is this what you need?

[2022-01-14 08:47] Hirbod commented on #191
My issue was, that onComplete triggered `setRemainingRecordingTime(0)`, but once `recordedClips` effect triggered (and ffprobe runs async`,  I will have a different total duration (because ffprobe is counting based on video frames).

And my reduce function will most likely be off. I just added a check that once onComplete triggered the value(0), that I am not updating the remainingTime again.

[2022-01-14 08:47] #191 closed

[2022-01-17 07:35] vydimitrov commented on #190
Here is a workaround you can use for now. https://codesandbox.io/s/busy-brook-3fmyz?file=/src/index.js

The angle that we rotate the path to match the start very much depends of the stroke width. So this is not a solution that is going to work in every case.

[code]

[2022-01-19 23:31] mattpilleul opened #192 "How to save current duration after reopening app"
Hello !

I wanted to know how to save the remaining time and displaying it back when launching app again.

Here is my current code :
[code]

If anyone as a solution, it will help me !

[2022-01-20 07:49] vydimitrov commented on #192
Hey @mattpilleul, I do not see the whole implantation but it seems you have a error here `initialRemainingTime={remainingTimeRef}` it should be `initialRemainingTime={remainingTimeRef.current}`. Otherwise you can use `onUpdate` to get the remaining time and save it somewhere. Later when the App is launched again just use it for the `initialRemainingTime`. In case the component is not unmounted the

[2022-01-20 08:07] mattpilleul commented on #192
Hi ! Thanks for your quick answer, I've been passing ```remainingTimeRef.current``` but not working.

Do you have a simple example with ```onUpdate``` props ?

How could i save remainingTime and display it on app launching ? I'm a little confused..

[2022-01-20 08:43] vydimitrov commented on #192
Hey you will need to listen for App state change, like shown here - https://reactnative.dev/docs/appstate

When the app becomes active again/second time, you will need to pass a new `key` prop the timer component and the remaining time you saved, something like this one:

[code]

[2022-01-20 08:51] mattpilleul commented on #192
Thanks for rapid reply ! Just tested your method, every is working great in background but when i kill the app and launch it again same problem, the duration uses default ```useState``` value. I don't understand what I'm missing here...

[2022-01-20 08:53] mattpilleul commented on #192
My bad, even in background mode the countdown seems to stop :(

[2022-01-20 08:55] 1280103995 commented on #190
This method is great, thank you for your work.

I would like to know why their arc lengths are different when the initialRemainingTime is 1 and when it is 99.  :)

[2022-01-20 08:57] vydimitrov commented on #192
When you kill the app then all local component state is gone. You will need to save the remaining time in some persistent place, like on the Web is local storage or DB.

The countdown should reflect the time passed while it was on the background and continue from where there but not the place where the countdown when in the background. If you want to keep the same time as the one when it went in t

[2022-01-20 08:58] mattpilleul commented on #192
Ok sounds good. I will try saving it somewhere ! Thanks for you time and advice

[2022-01-20 11:03] vydimitrov commented on #190
The arch lengths is the same - you can read more on how the animation works here - https://css-tricks.com/svg-line-animation-works/

[2022-01-21 03:17] 1280103995 commented on #190
I'm not good at using svg, but I'll learn it later.

---------------------------------

<img width="70%" height="70%" src="https://user-images.githubusercontent.com/17424486/150458062-d2236817-77d1-49cc-b3aa-f425a2f5dc15.png">

In fact, I use this component as a progress bar.

As you can see from the picture, in the left picture, the gray arc length is less than the navy blue arc length in the rig

[2022-01-21 08:27] vydimitrov commented on #190
Ooo now I see what you mean... this is very interesting... I will try to dig in the code to see if I can figure out why is that. The function that calculates the arch is the same.

[2022-01-21 08:36] vydimitrov commented on #190
I guess it has something to do with the fact that we rotated the path. Check here without rotation. In both cases seems symmetrical.  https://codesandbox.io/s/busy-brook-3fmyz?file=/src/index.js

![image](https://user-images.githubusercontent.com/10707142/150493813-758375dc-9de1-414c-bfbe-008377f8eeb9.png)
![image](https://user-images.githubusercontent.com/10707142/150493846-042666c3-b798-4672-b25

[2022-01-26 18:06] NWPoul commented on #190
How can I modify an svg so with "square" stroke it's starts(ends) at the "12 o'clock" instead of being exceeded to the right?
This lead to noticeable lag in visual start of the timer's circle in case of "square" option for stroke(

[2022-01-26 19:16] vydimitrov commented on #190
@NWPoul, did you see this one? https://github.com/vydimitrov/react-countdown-circle-timer/issues/190#issuecomment-1014221159

[2022-01-26 20:24] NWPoul commented on #190
Yes but thought it was about the arc length
and all what I managed to achieve with it - is shifting circle from it's starting ponits... I am not strong with SVG😇

[2022-01-26 21:52] vydimitrov commented on #190
You will need just to add the one below to your timer component and adjust the rotation angle based on the `strokeWdith`

[code]

[2022-01-27 08:16] NWPoul commented on #190
Thank you for the answer!
Yes after ajusting "translate" circle don't shift aside
but now stroke starts mooving exeeded to the left on @starting point" so the lag still there
desides the start line now tilted relative to vertical axis(
![image](https://user-images.githubusercontent.com/28613875/151318929-93a5b221-a7db-4768-8325-2fb053168e71.png)

[2022-01-27 09:14] NWPoul commented on #190
UPD:
After RTFM for SVG seems that mine (and probably others) problem solwing is easy - just chose "butt" for stroke-linecap prop)

[2022-01-28 08:06] vydimitrov commented on #190
@NWPoul this is genius... I really did not think about it. This really solved the problem. It seems I will need to extend the `strokeLinecap` prop type to support `butt` so TS is happy.

[2022-01-29 12:06] vydimitrov commented on #190
'butt' option was added in v3.0.8. @1280103995 please test it and let me know if we can close the bug.

[2022-02-04 07:57] vydimitrov commented on #190
I am closing this one. Let me know if you have any further questions.

[2022-02-04 07:57] #190 closed

[2022-02-06 14:19] awkj opened #193 "use pnpm/npm/yarn can build , can't found @countdown/shared"
![image](https://user-images.githubusercontent.com/9017743/152685191-30198fe6-130b-4887-96af-109e6da6c110.png)

<img width="1228" alt="image" src="https://user-images.githubusercontent.com/9017743/152685255-d2029ac9-3044-4e52-9ee9-9393fccf7f2c.png">

I use vite to preview and run my app, I found if vite dev , than it will work ,but vite build has this error, and vscode can't find the dependecies,

[2022-02-07 07:29] vydimitrov commented on #193
Hey @awkj, thanks for reporting this issue. I am not sure what are you trying to do. Are you trying to use the hook? I guess this is only type error, because the hook code is bundled together with component, and does not have any external dependencies.

[2022-02-07 07:35] vydimitrov commented on #193
It it works fine in Codesanbox - https://codesandbox.io/s/stupefied-cray-z2o4t?file=/src/App.tsx, I just need to understand how you use it. I know what there is a problem with the types, since I was not able to find a way to bundle them as well. When TS sees the third part import (my own shared package) then it just references them but does not add them to the output declarations.

[2022-02-07 08:05] awkj commented on #193
I think your build package is have type problem( I'm react beginner, so sorry I can't give your fix help),

If you want retry this problem, you can jump to the file 'countdownCircleTimer.d.ts‘ and will see the tips.
<img width="1919" alt="image" src="https://user-images.githubusercontent.com/9017743/152748508-b18ee678-e9b7-4718-9f2a-b5f75470a196.png">

[2022-02-07 08:10] vydimitrov commented on #193
Yup, I am aware of the type problem... it is just that I am not able to bundle the types when bundling the code. But nevertheless the code works as expected. I will keep the bug open and try to find a way to add the types to the package.

[2022-02-11 06:28] 1280103995 commented on #190
sorry I'm late. I took a long vacation.

Now v3.0.8 solved my problem.

@NWPoul @vydimitrov Thank you so much!

[2022-02-11 10:26] 1280103995 opened #194 "How to use gradient colors in RN projects"
I looked at the examples for the web version, but it didn't solve my problem.

<img src="https://user-images.githubusercontent.com/17424486/153573419-4eaf9d29-0799-4239-9674-e948d7d27174.jpg" width="30%" height="30%"/>

I run `react-native init myapp` to create a RN project, and run `yarn add react-native-svg react-native-countdown-circle-timer@3.0.8` to add dependencies.

This is my **App.js**
[c

[2022-02-11 12:08] vydimitrov commented on #194
Hey @1280103995, it seems your right. I open [an issue](https://github.com/react-native-svg/react-native-svg/issues/1694) with `react-native-svg` to clarify that.

Meanwhile I recommend using the `hook` and build your own component and gradient. It should look like something like this:

[code]

This one is going to work since the gradient and the consumer are under the same SVG element.

[2022-02-14 03:39] 1280103995 commented on #194
<img width="30%" height="30%" src="https://user-images.githubusercontent.com/17424486/153795720-768d523c-1dc4-4489-8596-5d65c67e51e5.png">

Shockingly, I copied two files from v2: DefsLinearGradient and colorsValidator for the gradient component and it worked just fine.

**App.js**
[code]

[2022-02-14 14:31] vydimitrov commented on #194
Hmm, that is very strange. The only difference I see is that the `offset` is define in numbers from 0 to 1. Otherwise it seems the same.

[2022-02-17 21:20] benjitastic commented on #7
Running into this issue as well. One option could be to move the countdown timer logic into a web worker which doesn't get paused when tab is backgrounded. Something like this: https://www.npmjs.com/package/worker-interval

For now I will pause/reset the timer with window visibility listeners.

[2022-02-23 07:48] #194 closed

[2022-02-23 07:51] vydimitrov commented on #194
I updated the docs to reflect the new way to build the gradient. I do not think that we gonna have an answer on the issue I opened with `react-native-svg` and as we can see it does not work if the gradient detentions is not in the same SVG as the usage of it.

[2022-02-23 07:52] vydimitrov commented on #194
Here is link to the demo on the recommended way to do t he gradient https://snack.expo.dev/@dimitrov/react-native-countdown-circle-timer-gradient?platform=ios

[2022-02-23 16:05] dorianbucknor opened #195 "onUpdate to return the color that timer is showing."
Is it possible to return the current color in onUpdate?

Use case: To use color of the timer (when it changes) as a glow/highlight around other components that are not children of the timer component.

[2022-02-25 09:12] vydimitrov commented on #195
Hey @dorianbucknor, the `onUpdate` will fire once every second so passing the color there may not work as expected. You can get the color from the children prop, like:

[code]

Just be carful if you save the color using `useState` because that will cause one additional rerender on each key frame and it may have big performance implications. I'd recommend to use the color from the `children` prop i

[2022-02-25 14:24] dorianbucknor commented on #195
I tried saving it to a state, did not end well.
However, I kinda went through the `index.module.js` file and was able to pass it, as you said once every second. (Had to copy your code into new `index.js` file. Hope you are ok with that😁. **I will not redistribute it!** ). Save it to a `useState` from `onUpdate`, then I used `transition: color 1s linear`  on the other components on the receiving en

[2022-02-25 14:34] vydimitrov commented on #195
Perfect, I am happy that you found a solution.

You can use `isPlaying` prop to toggle the timer. Check the list of props [here](https://github.com/vydimitrov/react-countdown-circle-timer/tree/master/packages/web#props)

[2022-02-26 02:19] dorianbucknor commented on #195
Ok. Thanks.👍💯

[2022-02-26 21:04] mattpilleul commented on #192
Hi ! Could you help me on this current problem ?

I've been thinking about a solution but nothing seems working...

[2022-03-01 08:22] vydimitrov commented on #192
Hey, can you create ExpoSnack with the code you have and we can try to work it together there?

[2022-03-01 09:38] mattpilleul commented on #192
So ! I'm currently facing issues on Expo Snack with babel runtime, could i share you the project, in private ?

[2022-03-01 09:41] vydimitrov commented on #195
I opened a feature request for this here  https://github.com/vydimitrov/react-countdown-circle-timer/discussions/67#discussioncomment-2271883

[2022-03-01 09:41] #195 closed

[2022-03-01 09:42] vydimitrov commented on #192
Sure, you can add me as a contributor, I just need to look around and see what you are trying to achieve.

[2022-03-01 09:48] mattpilleul commented on #192
Done ! Just check Screens/Home.js

[2022-03-03 03:14] WenLonG12345 opened #196 "Modify README for Time formatting functions"
Hi, thanks for this awesome library and I love it!

However, for the time formatting functions, I notice it wont be returning 2 digits as same as the format of `mm:ss`.

Here is my solution for getting 2 digits.

[code]
<img width="119" alt="image" src="https://user-images.githubusercontent.com/39330565/156489230-13ad9f37-7278-4694-81a8-e6d383e87a78.png">

Hope this helps!

[2022-03-03 03:14] #196 closed

[2022-03-04 08:55] #193 closed

[2022-03-04 08:59] vydimitrov commented on #193
Hey @awkj, this issue is now fixed in 3.0.9 Please check it let me know if it works as expected.

[2022-03-07 06:57] rajeevverma076 opened #197 "How to make incremental count"
I wanted to know I can clock incremental way. There are no props available for this. Can someone help me with this?

[2022-03-07 07:27] vydimitrov commented on #197
Hey @rajeevverma076, can you give a bit more info on what you want to achieve?

[2022-03-07 08:34] rajeevverma076 commented on #197
Hi @vydimitrov

I wanted to achieve incremental count down. For example, if I will click on any button my timer will start in an incremental way, not decremental. Currently it is working count down in incremental only.

Ex- https://codepen.io/ninjascribble/pen/DRPwQY

[2022-03-07 08:36] vydimitrov commented on #197
Do you need the circle animation or just the count up numbers?

[2022-03-07 08:40] vydimitrov commented on #197
How about this one? https://codesandbox.io/s/cool-bardeen-0e3gu1?file=/src/index.jss

[2022-03-07 11:17] rajeevverma076 commented on #197
circle animation same as  [react-countdown-circle-timer]

[2022-03-07 11:19] rajeevverma076 commented on #197
This is good but   duration={10} should be dymanic. Means no limit.

[2022-03-07 11:59] rajeevverma076 commented on #197
How to used children props.

const children = ({ remainingTime }) => {
  const minutes = Math.floor(remainingTime / 60)
  const seconds = remainingTime % 60
  return `${minutes}:${seconds}`
}

[2022-03-07 12:27] rajeevverma076 commented on #197
Please help me with this.
const children = ({ remainingTime }) => {
const minutes = Math.floor(remainingTime / 60)
const seconds = remainingTime % 60
return ${minutes}:${seconds}
}

[2022-03-08 07:45] vydimitrov commented on #197
Just past big enough number

[2022-03-08 07:47] vydimitrov commented on #197
What do you want me to help you with?

[2022-03-09 05:26] rajeevverma076 commented on #197
Hello @vydimitrov

Thank you for your prompt response to my query. Can you please let me know one more query it is possible to show the progress bar on the continuous way with stoping watch and I will pass props once the process has been completed?
For example, I have pass duration={100}  and my process completed in 60 seconds till the time progress bar should continually run like this. https://co

[2022-03-13 06:32] djaffer opened #198 "How to add gradient colors like it was in prior versions?"
I have a simple question on how to add a gradient that was there before?

[code]

It would be nice to have smooth migration guidelines.

[2022-03-14 10:36] johnnyrainbow opened #199 "Cannot render externally updated timer"
I have a time that I am passing into CountDownCircleTimer that is independently updated & retrieved via an external API call, and I cannot figure out a way to render this externally managed time with this timer, as the CountdownCircleTimer component seems to want to perform its own timing logic on the passed time, which messes up the functionality.

Is there a way to just straight up render a numb

[2022-03-16 07:45] vydimitrov commented on #198
Hey @djaffer, is this about the Web package? If yes. then you can see one example [here](https://github.com/vydimitrov/react-countdown-circle-timer/tree/master/packages/web#add-gradient)

[2022-03-16 07:48] vydimitrov commented on #199
Hey @johnnyrainbow, you will need to set `isPlaying={false}` and then just pass your remaining time to the `initialRemainingTime` prop, you may also need to pass the same remaining time as a `key` prop to the component in case it does not rerender the new time you provide.

[2022-03-16 12:11] ManabBala opened #201 "onUpdate doesn't work when page/tab in background chrome"
i am trying to update the page title with the remaining time duration. but when i open another tab means put my current timer tab in background my onUpdate function stop updating title of timer page. please help me...

[2022-03-17 02:27] djaffer commented on #198
Is this the same as the one above. I am just trying to have example equivalent the example you had in past as it is easier to than really link them.

[2022-03-18 08:33] vydimitrov commented on #197
Let me know if you manage to achieve what you wanted so I can close the issue.

[2022-03-18 08:43] vydimitrov commented on #198
Yup, it was easier but it was not really used much so I decided to remove it from the bundle so other users do not pay the price of having it in the bundle every time. You can use the one below to get the same gradient as before:

[code]

[2022-03-18 08:43] #198 closed

[2022-03-18 19:05] djaffer commented on #198
Thank you @vydimitrov

[2022-03-20 09:23] dash7ou opened #202 "Problem when seconds count down be 0"
Error msg:
TypeError: Invalid attempt to destructure non-iterable instance.
In order to be iterable, non-array objects must have a [Symbol.iterator]() method.

Error possion:
  54 | startAt,
  55 | onComplete:
  56 |   typeof onComplete === 'function'

     | ^  58 |         // REFACTOR in next major release so onComplete matches expected return value as useElapsedTime
  59 |         const [should

[2022-03-20 09:45] dash7ou commented on #202
Lol I have upgrade version to last one and its working fine :P

[2022-03-20 09:46] #202 closed

[2022-03-31 08:09] vydimitrov commented on #192
@mattpilleul, did you manage to get it working?

[2022-03-31 08:10] vydimitrov commented on #197
Closing this issue, let me know if you have any other questions.

[2022-03-31 08:10] #197 closed

[2022-03-31 08:11] vydimitrov commented on #199
Closing this issue, let me know in case you have any other questions.

[2022-03-31 08:11] #199 closed

[2022-03-31 08:12] vydimitrov commented on #201
Hey @ManabBala, have you managed to find a solution for this problem?

[2022-04-03 08:12] djaffer commented on #198
Hi still not working as before. Did you test it before?
![stopwatch](https://user-images.githubusercontent.com/5740725/161418548-fdc872cd-0103-4396-aafb-2c70e0b70e91.gif)

[2022-04-03 08:31] djaffer opened #204 "Gradient Not Working for Web #198"
The gradient still not working as before. It is different from before. Also, colors time can we skip sending like before.

colors={[['#004777', 0.33], ['#F7B801', 0.33], ['#A30000']]}

This is how it looks with the suggested svg from https://github.com/vydimitrov/react-countdown-circle-timer/issues/198.
[code]
![stopwatch-suggested](https://user-images.githubusercontent.com/5740725/161418617-502a2

[2022-04-03 08:58] djaffer commented on #204
I think it had nothing to do with gradient.

colors={['#004777', '#F7B801', '#A30000', '#A30000']}
colorsTime={[duration, duration* 0.66, duration * 0.33, 0]}

[2022-04-03 08:58] #204 closed

[2022-04-07 09:23] bekatd commented on #194
Why we can't use gradient without using hooks?

Also how to restart timer with which is based on `useCountDown` hook

[2022-04-13 12:31] anastasiapyzhik commented on #194
+1
I'd also like to use a gradient and at the same time be able to restart the timer

[2022-04-13 15:36] vydimitrov commented on #194
Hey you can restart the timer the same way you do it with the component, by passing a `key`. So below is your CountdownCircleTimer:
[code]

Then in your App you just use it as it was before
[code]

Does it help?

[2022-04-13 15:38] #192 closed

[2022-04-14 08:06] anastasiapyzhik commented on #194
Worked for me as well. Thanks!

[2022-04-15 17:21] EmmS21 opened #205 "Restart timer component with new duration after onComplete event in React"
Trying to create an event handler that changes the duration of the timer each time the timer reaches zero.

The clock initially runs down from 5 seconds, when it reaches zero I change the state, then use this to change the new value assigned to the clock.

For a more practical example. When the clock initially runs to zero, I change my stage state to 2, setting the timer to 6 seconds. When this cl

[2022-04-20 06:24] vydimitrov commented on #205
Hey @EmmS21, when you change the time/duration the timer will not reset its state but it will continue from where it was left.  I guess what you want is restart the timer and to do that you just need to pass a `key` prop to the CountdownCircleTimer like so `< CountdownCircleTimer  key={timer} ... >`. This will make sure to restart the timer when you change the duration.

[2022-04-20 06:24] vydimitrov commented on #201
Closing this due to inactivity.

[2022-04-20 06:24] #201 closed

[2022-04-20 13:22] PadBol76 opened #206 "Compilation error : TS2693: 'string' only refers to a type, but is being used as a value here."
Hello,

Thanks a lot for this module !

We use this module in our project and TS compilation found 4 errors.
You will find the lines concerned below :

https://github.com/vydimitrov/react-countdown-circle-timer/blob/ecfb606f848a83a0a38e9f48ce3232db83e83023/packages/shared/src/types.ts#L3
https://github.com/vydimitrov/react-countdown-circle-timer/blob/ecfb606f848a83a0a38e9f48ce3232db83e83023/packag

[2022-04-21 06:01] vydimitrov commented on #206
Hey @PadBol76, what version of TS do you run?

[2022-04-21 09:18] PadBol76 commented on #206
We run it with TS 3.7.3

[2022-04-23 07:40] vydimitrov commented on #206
I see, the [template literal type](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html) were introduced in v4 so if you upgrade your TS you wont get the error anyl onger.

[2022-05-05 06:19] vydimitrov commented on #205
I am closing this issue due to inactivity,

[2022-05-05 06:19] #205 closed

[2022-05-05 06:20] #206 closed

[2022-05-15 13:22] erotundo opened #207 "Maintain the countdown circle timer running after screen sleep or lock device (ios)"
Hi!

First all excellent package, works very well.

I have a detail, i'm running a countdown with 10 minutes but if i lock the screen the timer keep freeze until back and unlock again it's like the phone put on sleep the application.

Existing a way to keep running the timer with the screen locked?

Kind Regards

ER

[2022-05-16 05:32] vydimitrov commented on #207
Hey @erotundo 👋 , yup, that is what happens here, when the app is inactive or not on focus all kind of animations are suspended to keep the battery. The thing you can do in this case is to save the remaining time and the current time (like in UNIX timestamp) when the app goes in the background, when the app comes back active, you check again the current time and subtract the time when the app went

[2022-05-16 14:49] erotundo commented on #207
Hi @vydimitrov thanks for your quick answer, lot of things happen with the background (not with your library works very well) in iOS the suspension on the background activities (30 seconds) generates a problem in all ways so i think the same capture when start the counter and when turn on the screen capture this new moment and update the remaining time or trigger the complete event if it's done. I

[2022-05-23 05:40] vydimitrov commented on #207
Hey @sorensenmarius, did you manage to find a workaround for this on Android?

[2022-05-23 09:13] sorensenmarius commented on #207
Hey @vydimitrov, I have not found a workaround while using this component. However, I implemented it myself without this component and solved the problem by saving the timer start time and calculating the time left from that rather than having a background process counting continously.

[2022-05-23 12:23] vydimitrov commented on #207
Ahhh, cool, it is good you found a solution for you :) If I can ask, what was the problem adding the same logic for saving the time and use it later with the countdown timer?

[2022-05-23 12:50] sorensenmarius commented on #207
I am sure that would work as well, as it is basically the same approach I ended up using ;)

[2022-05-23 12:52] vydimitrov commented on #207
Cool, I just wanted to know if there is an easy way to do it since already a few people ask about a solution for this problem.

[2022-05-24 19:15] teenageknight opened #208 "Documentation does not show the correct way to pass in multiple colors"
This package, when passing in multiple colors, either takes in one string representing that color or an array of color tuples. If you run the code as-is, you get a null pointer exception, as seen in the picture.

[2022-05-24 19:17] teenageknight commented on #208
`import { Text } from 'react-native'
import { CountdownCircleTimer } from 'react-native-countdown-circle-timer'

const UrgeWithPleasureComponent = () => (
  <CountdownCircleTimer
    isPlaying
    duration={7}
    colors={['#004777', '#F7B801', '#A30000', '#A30000']}
    colorsTime={[7, 5, 2, 0]}

    {({ remainingTime }) => <Text>{remainingTime}</Text>}
  </CountdownCircleTimer>
)`
This is what i

[2022-05-25 05:42] vydimitrov commented on #208
Hey @teenageknight, it seems to be working fine, you can check it in this [Snack](https://snack.expo.dev/@dimitrov/countdown-circle-timer?platform=ios). Can you reproduce your issue in Expo Snack and share a link?

[2022-05-25 15:09] alessandro-caiora opened #209 "Typescript error: type expected"
Hi @vydimitrov,
I get this error when trying to start my react app. I simply used the code written in documentation. How can I solve the issue?
![Schermata 2022-05-25 alle 16 57 33](https://user-images.githubusercontent.com/8128456/170295768-22605476-dc3b-4f03-b7f7-26123663364d.png)

Regards,
Alessandro

[2022-05-25 20:07] vydimitrov commented on #209
What is the TypeScript version you are using?

[2022-05-25 21:51] alessandro-caiora commented on #209
3.9.6

[2022-05-26 05:46] vydimitrov commented on #209
Check [this](https://github.com/vydimitrov/react-countdown-circle-timer/issues/206#issuecomment-1107415688) one

[2022-05-26 05:46] #209 closed

[2022-06-01 09:20] #207 closed

[2022-06-08 00:20] rgavinc commented on #177
Would it be possible to add this as a feature that can be turned on/off with a Boolean?

[2022-06-09 12:05] bl1lnk opened #211 "CountdownCircleTimer background color ?"
is there away to change CountdownCircleTimer background color ?

[2022-06-09 12:06] vydimitrov commented on #211
Hey @bl1lnk, the background color should be transparent so you can just change it yourself.

[2022-06-09 12:07] #208 closed

[2022-06-13 04:45] bl1lnk commented on #211
lol its that simple . thanks

[2022-06-13 04:45] #211 closed

[2022-06-15 07:53] oreon opened #212 "Is there a way to check easily if the countdown timer is in Delay state"
I need to display "rest" when in between repeats but not sure how to know the state

[2022-06-15 18:01] vydimitrov commented on #212
Hey, when the timer is at 0 then you are between repeats.

[2022-06-18 09:55] abdelalishare opened #213 "react-countdown-circle-timer on reload counter restart issue"
Hello I need to make the counter count without restarting on page reload

[code]

[2022-06-20 07:30] vydimitrov commented on #213
Hey @abdelalishare, you will need to save the elapsed time, may be using the `onUpdate` callback, to either local storage or some remote server and use that time to start the timer again once the page is reloaded.

[2022-06-23 07:30] vydimitrov commented on #212
Let me know if you have any other questions. I am closing this issue for now.

[2022-06-23 07:30] #212 closed

[2022-07-06 06:24] #213 closed

[2022-07-27 07:08] sushantdhiman commented on #7
With `Chrome 103.0.5060.134 - Desktop`, as per my tests, inactive tab honors `setTimeout` while `requestAnimationFrame` is paused. So using `setTimeout` along with `useEffect` should work for inactive tabs.

[2022-07-28 05:25] nighttiger1990 opened #215 "onComplete always fire when reset duration after onComplete 1st bug"
[code]
After first time `duration end` the onComplete fire perfect, but when I click `Reset duration` the `onComplete` event always fire

My version
`"react-native-countdown-circle-timer": "^3.0.9", `
My `react-native info`
[code]

[2022-07-28 06:08] vydimitrov commented on #215
Hey, can you do a minimum demo that reproduces the issue [here](https://snack.expo.dev/)?

[2022-08-04 10:13] 1280103995 opened #216 "Inaccurate progress when used as a progress bar"
1. Create a new project via RN CLI
2. Run `yarn add yarn add react-native-countdown-circle-timer react-native-svg`
[code]

https://user-images.githubusercontent.com/17424486/182821642-ebe6ced9-6c35-427f-a4b5-4a3edcd0a752.mp4

**App.js**
[code]

[2022-08-16 09:41] vydimitrov commented on #216
Hey @1280103995, you will need to reset the timer when you change and time or when you click the Start button. You will need to pass a `key` prop to the `CountdownCircleTimer ` component like so:

[code]
This will reset the timer, take the new values and it will work as expected.

[2022-08-17 02:44] 1280103995 commented on #216
Thanks, it works fine now.

[2022-08-17 02:44] #216 closed

[2022-08-22 05:41] #215 closed

[2022-08-24 20:39] seamive opened #219 "animatedColor status | Bump CountdownCircleTimer from 2.5.4 to 3.0.9?"
[code]

The `remainingTime` doesn't seem to set the `animatedColor`, is it discontinued? Updating from `2.5.4 to 3.0.9`

[2022-08-25 05:48] vydimitrov commented on #219
Hey @seamive, the prop was renamed to `color` you can check the `children` render prop [here](https://github.com/vydimitrov/react-countdown-circle-timer/tree/master/packages/mobile#react-native-countdown-circle-timer)

[2022-08-25 10:08] #219 closed

[2022-09-07 07:33] AldeonMoriak opened #221 "Cannot run countdown in a test (vitest)"
Hello, these few days I've been trying to test a component which in it I have a countdown but I couldn't make countdown run in it.
First I noticed it was a problem with not letting `vitest` know `DOM` has been updated so I added `act` to let it know. And I tested it by using a `setInterval` in a test component. But still `countdown` doesn't work in a test.

I've created a minimal reproduction of t

[2022-09-07 07:56] vydimitrov commented on #221
Hey, the timer is using requestAnimationFrame internally to measure the time and it seems useFakeTimers is not mocking that. You will need to find other way to test it.

[2022-09-07 10:48] AldeonMoriak commented on #221
Thank you. I was able to find a solution for that:

[code]
[code]

[2022-09-07 10:48] #221 closed

[2022-11-11 08:47] zhifeng-heng commented on #211
Hi @bl1lnk , i'm trying to change the inside circle's background color. Is this what you were asking back then, or if you happen to know how to do it?

Thanks!

[2022-11-11 09:31] vydimitrov commented on #211
Hey @zhifeng-heng, is this going to work for you - https://codesandbox.io/s/gracious-elbakyan-uzlg1y?file=/src/styles.css

wrap timer in an element and add these styles (based on your timer size - this case 180px)
[code]

[2022-11-11 09:33] zhifeng-heng commented on #211
Thank you @vydimitrov , this is exactly what i need! :)

[2022-11-28 22:36] sherlockgabe commented on #31
I need help with this.